<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <article id="post-76610">
                    <div class="entry-content">
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1572678169666 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="vc_custom_heading style3 vc_custom_1572677872338">
                                            <h2 style="color: #007dc5;text-align: left">HỒ CHÍ MINH</h2>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>Bãi xe Á Châu, Số 35 Đường Thới An 17A, Phường Thới An, Quận 12, TPHCM
                                                    <br> <strong>Tell:</strong> <b><a
                                                            href="tel:0914857068">0914.857.068</a>&nbsp;–&nbsp;<a
                                                            href="tel:0979071007">097.907.1007</a></b><br>
                                                    <strong>Hotline:</strong> <span style="color: #ff0000;"><strong>19001733</strong></span><br>
                                                    <strong>Fax:</strong> 028-37179488<br> <strong>MST:</strong> 0310031872
                                                    <br> <strong>Email:</strong> info@vanchuyenachau.com.vn
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-8">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                            <div class="wpb_wrapper"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.3649435899592!2d106.65908911532091!3d10.859822660617112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529de93107173%3A0x4b82f8369f8bc9a6!2zQ8O0bmcgVHkgY-G7lSBwaOG6p24gduG6rW4gY2h1eeG7g24gw4EgQ2jDonU!5e0!3m2!1svi!2s!4v1572677787573!5m2!1svi!2s"
                                                    width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.3649435899592!2d106.65908911532091!3d10.859822660617112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529de93107173%3A0x4b82f8369f8bc9a6!2zQ8O0bmcgVHkgY-G7lSBwaOG6p24gduG6rW4gY2h1eeG7g24gw4EgQ2jDonU!5e0!3m2!1svi!2s!4v1572677787573!5m2!1svi!2s"
                                                    class="lazyloaded" data-was-processed="true"></iframe><noscript><iframe
                                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.3649435899592!2d106.65908911532091!3d10.859822660617112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529de93107173%3A0x4b82f8369f8bc9a6!2zQ8O0bmcgVHkgY-G7lSBwaOG6p24gduG6rW4gY2h1eeG7g24gw4EgQ2jDonU!5e0!3m2!1svi!2s!4v1572677787573!5m2!1svi!2s"
                                                        width="100%" height="350" frameborder="0" style="border:0;"
                                                        allowfullscreen=""></iframe></noscript></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1572678180635 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="vc_custom_heading style3 vc_custom_1572678099537">
                                            <h2 style="color: #007dc5;text-align: left">Hà Nội</h2>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>Bãi xe Á Châu, Lô 5-10A KCN Vĩnh Hoàng, Tam Trinh, Q. Hoàng Mai, TP. Hà Nội<br> <strong>Tell:</strong> <b><a
                                                            href="tel:0914857068">0914.857.068</a>&nbsp;–&nbsp;<a
                                                            href="tel:0979071007">097.907.1007</a></b><br>
                                                    <strong>Hotline:</strong> <span style="color: #ff0000;"><strong>19001733</strong></span><br>
                                                    <strong>Fax:</strong> 028-37179488<br> <strong>MST:</strong> 0310031872
                                                    <br> <strong>Email:</strong> info@vanchuyenachau.com.vn
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-8">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                            <div class="wpb_wrapper"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1521.6721302603594!2d105.86899568862854!3d20.98396494701133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad8e479abe87%3A0xef796bdaf892023!2zQ8O0bmcgdHkgQ-G7lSBwaOG6p24gduG6rW4gY2h1eeG7g24gw4EgQ2jDonUgLSBDaGkgbmjDoW5oIEjDoCBO4buZaQ!5e0!3m2!1svi!2s!4v1572678245381!5m2!1svi!2s"
                                                    width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1521.6721302603594!2d105.86899568862854!3d20.98396494701133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad8e479abe87%3A0xef796bdaf892023!2zQ8O0bmcgdHkgQ-G7lSBwaOG6p24gduG6rW4gY2h1eeG7g24gw4EgQ2jDonUgLSBDaGkgbmjDoW5oIEjDoCBO4buZaQ!5e0!3m2!1svi!2s!4v1572678245381!5m2!1svi!2s"
                                                    class="lazyloaded" data-was-processed="true"></iframe><noscript><iframe
                                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1521.6721302603594!2d105.86899568862854!3d20.98396494701133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad8e479abe87%3A0xef796bdaf892023!2zQ8O0bmcgdHkgQ-G7lSBwaOG6p24gduG6rW4gY2h1eeG7g24gw4EgQ2jDonUgLSBDaGkgbmjDoW5oIEjDoCBO4buZaQ!5e0!3m2!1svi!2s!4v1572678245381!5m2!1svi!2s"
                                                        width="100%" height="350" frameborder="0" style="border:0;"
                                                        allowfullscreen=""></iframe></noscript></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="vc_custom_heading style3 vc_custom_1572678355471">
                                            <h2 style="color: #007dc5;text-align: left">Đà Nẵng</h2>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>555C Trường Chinh, Phường An Khê, Quận Thanh Khê, Đà Nẵng<br>
                                                    <strong>Tell:</strong> <b><a
                                                            href="tel:0914857068">0914.857.068</a>&nbsp;–&nbsp;<a
                                                            href="tel:0979071007">097.907.1007</a></b><br>
                                                    <strong>Hotline:</strong> <span style="color: #ff0000;"><strong>19001733</strong></span><br>
                                                    <strong>Fax:</strong> 028-37179488<br> <strong>MST:</strong> 0310031872
                                                    <br> <strong>Email:</strong> info@vanchuyenachau.com.vn
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-8">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                            <div class="wpb_wrapper"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.627660717441!2d108.18671571534775!3d16.03288674466834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219645509f56b%3A0xaf655110c65a03c5!2zQ8O0bmcgVHkgQ-G7lSBQaOG6p24gVuG6rW4gQ2h1eeG7g24gw4EgQ2jDonU!5e0!3m2!1svi!2s!4v1577499450172!5m2!1svi!2s"
                                                    width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.627660717441!2d108.18671571534775!3d16.03288674466834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219645509f56b%3A0xaf655110c65a03c5!2zQ8O0bmcgVHkgQ-G7lSBQaOG6p24gVuG6rW4gQ2h1eeG7g24gw4EgQ2jDonU!5e0!3m2!1svi!2s!4v1577499450172!5m2!1svi!2s"
                                                    class="lazyloaded" data-was-processed="true"></iframe><noscript><iframe
                                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.627660717441!2d108.18671571534775!3d16.03288674466834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219645509f56b%3A0xaf655110c65a03c5!2zQ8O0bmcgVHkgQ-G7lSBQaOG6p24gVuG6rW4gQ2h1eeG7g24gw4EgQ2jDonU!5e0!3m2!1svi!2s!4v1577499450172!5m2!1svi!2s"
                                                        width="100%" height="350" frameborder="0" style="border:0;"
                                                        allowfullscreen=""></iframe></noscript></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1572679749627">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="vc_custom_heading style3 vc_custom_1572679733094">
                                            <h2 style="color: #007dc5;text-align: left">Gửi Yêu Cầu Liên Hệ</h2>
                                        </div>
                                        <div role="form" class="wpcf7" id="wpcf7-f74219-p76610-o1" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response"></div>
                                            <form action="/lien-he/#wpcf7-f74219-p76610-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                                <div style="display: none;"> <input type="hidden" name="_wpcf7" value="74219"> <input type="hidden" name="_wpcf7_version" value="5.1.4"> <input type="hidden" name="_wpcf7_locale" value="en_US"> <input type="hidden" name="_wpcf7_unit_tag"
                                                        value="wpcf7-f74219-p76610-o1"> <input type="hidden" name="_wpcf7_container_post" value="76610"></div>
                                                <div class="form2">
                                                    <div class="row">
                                                        <div class="col-md-6"> <span class="wpcf7-form-control-wrap your-name"><input
                                                                    type="text" name="your-name" value="" size="40"
                                                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                    aria-required="true" aria-invalid="false"
                                                                    placeholder="Họ và tên"></span><br> <span class="wpcf7-form-control-wrap your-email"><input
                                                                    type="email" name="your-email" value="" size="40"
                                                                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                    aria-required="true" aria-invalid="false"
                                                                    placeholder="Email"></span></div>
                                                        <div class="col-md-6"> <span class="wpcf7-form-control-wrap your-subject"><input
                                                                    type="text" name="your-subject" value="" size="40"
                                                                    class="wpcf7-form-control wpcf7-text"
                                                                    aria-invalid="false"
                                                                    placeholder="Tiêu đề"></span><br> <span class="wpcf7-form-control-wrap your-phone"><input
                                                                    type="text" name="your-phone" value="" size="40"
                                                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                    aria-required="true" aria-invalid="false"
                                                                    placeholder="Số điện thoại"></span></div>
                                                        <div class="col-md-12"> <span class="wpcf7-form-control-wrap your-message"><textarea
                                                                    name="your-message" cols="40" rows="10"
                                                                    class="wpcf7-form-control wpcf7-textarea"
                                                                    aria-invalid="false"
                                                                    placeholder="Nội dung"></textarea></span></div>
                                                        <div class="col-md-12"> <input type="submit" value="Gửi yêu cầu liên hệ" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></div>
                                                    </div>
                                                </div>
                                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>