.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-box {
    height: 102%;
}

.fileupload .thumbnail {
    text-align: left;
}

input[type='text'],input[type='number'] { font-size: 20px; }