<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">QUẢN LÝ SẢN PHẨM</h4>

                <form #addProductForm="ngForm" autocomplete="off" ngNativeValidate>
                    <div class="form-group row m-b-20">
                        <div class="col-12 col-sm-6 col-md-6">
                            <app-text-box type="text" title="Tên sản phẩm" name="productname" placeholder="Nhập tên sản phẩm" required="true" [(ngModel)]="productModel.name">
                                <div invalidmessage="productname">
                                    <p *invalidType="'required'">Bạn vui lòng nhập tên sản phẩm!</p>
                                </div>
                            </app-text-box>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <p class="label icm-lable text-dark">Danh mục</p>

                            <ng-multiselect-dropdown name="choseCategory" class="multi-select-dropdown-custom" [placeholder]="'Chọn danh mục ...'" [settings]="productGroupDropListSettings" [data]="productGroupDropList" [(ngModel)]="productGroupDropListSelected" required="true">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                    <div class="form-group row m-b-20">
                        <div class="col-12 col-sm-6 col-md-6">
                            <app-text-box type="text" title="Giá gốc" name="price" placeholder="Nhập giá gốc" [(ngModel)]="productModel.price">
                            </app-text-box>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="label split-label icm-lable text-dark">Khoảng giá bán <br></div>
                            <input type="number" class="form-control split-text-box split-left" name="sellPrice" placeholder="Giá bán thấp nhất" [(ngModel)]="productModel.sellPrice">
                            <input type="number" class="form-control split-text-box split-right" name="sellPriceMax" placeholder="Giá bán cao nhất" [(ngModel)]="productModel.sellPriceMax">
                        </div>
                    </div>
                    <div class="form-group row m-b-20">
                        <div class="col-12 col-sm-6 col-md-6">
                            <app-text-box type="text" title="Đơn vị bán" name="unit" placeholder="Nhập đơn vị thanh toán" [(ngModel)]="productModel.unit">
                            </app-text-box>
                        </div>

                    </div>
                    <div class="form-group row m-b-20">
                        <div class="col-3">
                            <div class="label split-label icm-lable text-dark">Ảnh sản phẩm</div>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                    <img [src]="productModel.images[0] | image" alt="image" class="img-fluid" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <button type="button" class="btn btn-custom btn-file">
                                        <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Chọn ảnh</span>
                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Đổi ảnh khác</span>
                                        <input type="file" (change)="onChangeProductImage($event, 1)" class="btn-light" />
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="label split-label icm-lable text-dark"></div>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                    <img [src]="productModel.images[1] | image" alt="image" class="img-fluid" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <button type="button" class="btn btn-custom btn-file">
                                        <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Chọn ảnh</span>
                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Đổi ảnh khác</span>
                                        <input type="file" (change)="onChangeProductImage($event, 2)" class="btn-light" />
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="label split-label icm-lable text-dark"></div>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                    <img [src]="productModel.images[2] | image" alt="image" class="img-fluid" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <button type="button" class="btn btn-custom btn-file">
                                        <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Chọn ảnh</span>
                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Đổi ảnh khác</span>
                                        <input type="file" (change)="onChangeProductImage($event, 3)" class="btn-light" />
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="label split-label icm-lable text-dark"></div>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                    <img [src]="productModel.images[3] | image" alt="image" class="img-fluid" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <button type="button" class="btn btn-custom btn-file">
                                        <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Chọn ảnh</span>
                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Đổi ảnh khác</span>
                                        <input type="file" (change)="onChangeProductImage($event, 4)" class="btn-light" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-20">
                        <div class="col-12">
                            <div class="label split-label mb-1 text-dark">Mô tả tóm tắt <br></div>
                            <angular-editor name="abstract" [config]="editorConfigAbstract" [(ngModel)]="productModel.abstract"></angular-editor>
                        </div>
                    </div>
                    <div class="form-group row m-b-20">
                        <div class="col-12">
                            <div class="label split-label mb-1 text-dark">Mô tả <br></div>
                            <angular-editor style="height: 450px !important;" name="desc" [config]="editorConfig" [(ngModel)]="productModel.content"></angular-editor>
                        </div>
                    </div>
                    

                    <button type="button" class="btn btn-custom waves-effect waves-light float-right" (click)="addProduct(addProductForm)">Xác nhận</button>
                </form>
            </div>
        </div>
    </div>
</div>