<!-- Begin page -->
<div class="accountbg" style="background: url('assets/images/backgroundlogin.jpg');background-size: cover;background-position: center;"></div>

<div class="wrapper-page account-page-full">

    <div class="card">
        <div class="card-block">

            <div class="account-box">

                <div class="card-box p-5">
                    <h2 class="text-uppercase text-center pb-4">
                        <a href="index.html" class="text-success">
                            <span><img src="assets/images/vdlogo.jpg" alt="" height="26"></span>
                        </a>
                    </h2>

                    <form #form="ngForm" (submit)="login(form)">

                        <div class="form-group m-b-20 row">
                            <div class="col-12">
                                <app-text-box type="text" title="Tên đăng nhập" name="username" placeholder="Tên đăng nhập" autocomplete="none" required="true" [(ngModel)]="model.userName">
                                    <div invalidmessage="username">
                                        <p *invalidType="'required'">Bạn vui lòng nhập tài khoản</p>
                                    </div>
                                </app-text-box>
                            </div>
                        </div>

                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <app-text-box type="password" title="Mật khẩu" name="password" placeholder="*********" autocomplete="none" required="true" [(ngModel)]="model.passWord">
                                    <div invalidmessage="password">
                                        <p *invalidType="'required'">Bạn vui lòng nhập mật khẩu</p>
                                        <p *invalidType="'password'">Vui lòng nhập mật khẩu hợp lệ</p>
                                    </div>
                                </app-text-box>
                            </div>
                        </div>

                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Đăng
                                    nhập</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>

    <div class="m-t-40 text-center">
        <p class="account-copyright">© Copyrights 2021 <br /> Công ty TNHH Thương Mại Dịch Vụ Vận Tải Văn Dung</p>
    </div>

</div>