<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="header-title">Danh mục sản phẩm</h4>



                <!-- end row -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="header-title">Danh sách sản phẩm</h4>



                <!-- end row -->
            </div>
        </div>
    </div>

</div>