<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">QUẢN LÝ DANH MỤC SẢN PHẨM</h4>
                <p class="text-muted mb-2 font-18">
                    Thêm, sửa hoặc xóa danh mục sản phẩm.
                </p>


                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Danh Mục</th>
                            <th>Đơn vị tính</th>
                            <th>Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="productGroups?.length != 0">
                        <tr *ngFor="let productGroup of productGroups; index as i;">
                            <td>{{ i + 1 }}</td>
                            <td>{{ productGroup.name }}</td>
                            <td>{{ productGroup.unit }}</td>
                            <td>
                                <button class="btn btn-warning btn-sm btn-icon mr-2" title="Chỉnh sửa"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-sm btn-icon" (click)="removeProductGroup(productGroup.id)" title="Xóa"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button (click)="triggerModal(modalAddProductGroup)" style="position: absolute; top: 10px; right: 25px;" class="btn btn-custom waves-effect waves-light product-add-btn"><i class="mdi mdi-plus-circle mr-3"></i> Thêm danh mục mới</button>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">QUẢN LÝ SẢN PHẨM</h4>
                <p class="text-muted mb-2 font-18">
                    Thêm, sửa hoặc xóa sản phẩm.
                </p>

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggerProduct" class="row-border hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>TÊN SẢN PHẨM</th>
                            <th>MÔ TẢ</th>
                            <th>GIÁ GỐC</th>
                            <th>GIÁ BÁN</th>
                            <th>Đơn vị</th>
                            <th>TÁC VỤ</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="products?.length != 0">
                        <tr *ngFor="let product of products; index as i;">
                            <td>{{ i + 1}}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.abstract }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.sellPrice }} - {{ product.sellPriceMax }}</td>
                            <td>{{ product.unit }}</td>
                            <td>
                                <button class="btn btn-warning btn-sm btn-icon mr-2" [routerLink]="['/admin/admin-product-add', product.id]" title="Chỉnh sửa"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-sm btn-icon" (click)="removeProduct(product.id)" title="Xóa"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button [routerLink]="['/admin/admin-product-add', 0]" style="position: absolute; top: 10px; right: 25px;" class="btn btn-custom waves-effect waves-light product-add-btn"><i class="mdi mdi-plus-circle mr-3"></i> Thêm sản phẩm mới</button>
        </div>
    </div>

</div>


<ng-template #modalAddProductGroup let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Thêm danh mục sản phẩm</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <form #addProductGroupForm="ngForm" (submit)="addProductGroup(addProductGroupForm)" autocomplete="off">
        <div class="modal-body">
            <div class="form-group row m-b-20">
                <div class="col-12">
                    <app-text-box type="text" title="Tên danh mục" name="productgroupname" placeholder="Nhập tên danh mục" required="true" [(ngModel)]="productGroupModel.name">
                        <div invalidmessage="productgroupname">
                            <p *invalidType="'required'">Bạn vui lòng nhập tên danh mục!</p>
                        </div>
                    </app-text-box>
                </div>
            </div>
            <div class="form-group row m-b-20">
                <div class="col-12">
                    <app-text-box type="text" title="Đơn vị" name="unit" placeholder="Nhập đơn vị tính" [(ngModel)]="productGroupModel.unit">
                    </app-text-box>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-custom waves-effect waves-light" (click)="addProductGroup(addProductGroupForm)" type="submit">Xác nhận</button>
    </div>
</ng-template>