<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Thị trường phân phối</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card-box">
        <section class="services-section-two">
            <div class="auto-container">

                <div class="row clearfix">
                    <!-- Service Block -->
                    <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box" style="height: 340px;">
                            <div class="icon-box"><img style="    position: relative;
                            width: 145px;
                            height: 89px;" src="assets/images/vdlogo-crop.jpg"></div>
                            <h3 class="text-left">Quận 12</h3>
                            <div class="text text-left"><span class="fa fa-volume-control-phone mr-2"></span> Mr.Hùng: <a href="tel: 0979998199"> 0979.998.199</a> - Ms. Dương: <a href="tel: 0971399903">
                                0971.399.903</a></div>
                            <div class="text text-left"><span class="fa fa-envelope mr-1"></span> cttnhh.tm.dv.vt.vandung@gmail.com
                            </div>
                            <div class="text text-left"><span class="fa fa-map-marker mr-2"></span> Thành phố Hồ Chí Minh
                            </div>
                        </div>
                    </div>
                    <!-- Service Block -->
                    <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box" style="height: 340px;">
                            <div class="icon-box"><img style="    position: relative;
                            width: 145px;
                            height: 89px;" src="assets/images/vdlogo-crop.jpg"></div>
                            <h3 class="text-left">Quận Thủ Đức</h3>
                            <div class="text text-left"><span class="fa fa-volume-control-phone mr-2"></span> Mr.Hùng: <a href="tel: 0979998199"> 0979.998.199</a> - Ms. Dương: <a href="tel: 0971399903">
                                0971.399.903</a></div>
                            <div class="text text-left"><span class="fa fa-envelope mr-1"></span> cttnhh.tm.dv.vt.vandung@gmail.com
                            </div>
                            <div class="text text-left"><span class="fa fa-map-marker mr-2"></span> Thành phố Hồ Chí Minh
                            </div>
                        </div>
                    </div>
                    <!-- Service Block -->
                    <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box" style="height: 340px;">
                            <div class="icon-box"><img style="    position: relative;
                            width: 145px;
                            height: 89px;" src="assets/images/vdlogo-crop.jpg"></div>
                            <h3 class="text-left">Quận Gò Vấp</h3>
                            <div class="text text-left"><span class="fa fa-volume-control-phone mr-2"></span> Mr.Hùng: <a href="tel: 0979998199"> 0979.998.199</a> - Ms. Dương: <a href="tel: 0971399903">
                                0971.399.903</a></div>
                            <div class="text text-left"><span class="fa fa-envelope mr-1"></span> cttnhh.tm.dv.vt.vandung@gmail.com
                            </div>
                            <div class="text text-left"><span class="fa fa-map-marker mr-2"></span> Thành phố Hồ Chí Minh
                            </div>
                        </div>
                    </div>
                    <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box" style="height: 340px;">
                            <div class="icon-box"><img style="    position: relative;
                                width: 145px;
                                height: 89px;" src="assets/images/vdlogo-crop.jpg"></div>
                            <h3 class="text-left">Quận Hóc Môn</h3>
                            <div class="text text-left"><span class="fa fa-volume-control-phone mr-2"></span> Mr.Nam: <a href="tel: 0988361399 "> 0988.361.399 </a> - Ms. Dương: <a href="tel: 0971399903">
                                0971.399.903</a></div>
                            <div class="text text-left"><span class="fa fa-envelope mr-1"></span> cttnhh.tm.dv.vt.vandung@gmail.com
                            </div>
                            <div class="text text-left"><span class="fa fa-map-marker mr-2"></span> Thành phố Hồ Chí Minh</div>
                        </div>
                    </div>
                    <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box" style="height: 340px;">
                            <div class="icon-box"><img style="    position: relative;
                                width: 145px;
                                height: 89px;" src="assets/images/vdlogo-crop.jpg"></div>
                            <h3 class="text-left">Bình Dương</h3>
                            <div class="text text-left"><span class="fa fa-volume-control-phone mr-2"></span> Mr.Nam: <a href="tel: 0988361399 "> 0988.361.399 </a> - Ms. Dương: <a href="tel: 0971399903">
                                0971.399.903</a></div>
                            <div class="text text-left"><span class="fa fa-envelope mr-1"></span> cttnhh.tm.dv.vt.vandung@gmail.com
                            </div>
                            <div class="text text-left"><span class="fa fa-map-marker mr-2"></span> Bình Dương</div>
                        </div>
                    </div>
                </div>
                <!-- Service Block -->


            </div>
        </section>
    </div>
</div>