.container {
    position: relative;
    padding: 20px;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    display: table;
    content: " ";
}

.service-block-two {
    position: relative;
    margin-bottom: 30px;
    padding: 0px 3px;
}

.service-block-two .inner-box {
    position: relative;
    text-align: center;
    border: 1px solid #e1e1e1;
    padding: 20px 20px 20px;
}

.service-block-two .inner-box:before {
    border-top: 1px solid #ff9f14;
    border-bottom: 1px solid #ff9f14;
    height: 100%;
    width: 0;
    top: 0;
    left: 50%;
}

.service-block-two .icon-box {
    position: relative;
    margin-bottom: 25px;
}

.service-block-two h3 {
    position: relative;
    font-size: 25px;
    line-height: 1.2em;
    color: #222222;
    font-weight: 600 !important;
    margin-bottom: 22px;
}

.text-left {
    text-align: left;
}

.service-block-two .inner-box:before,
.service-block-two .inner-box:after {
    position: absolute;
    content: "";
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.service-block-two .inner-box:after {
    top: 50%;
    left: 0;
    height: 0;
    width: 100%;
    border-left: 1px solid #ff9f14;
    border-right: 1px solid #ff9f14;
    z-index: -1;
}

.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.coupon-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="password"]:focus,
.shipping-form .form-group input[type="tel"]:focus,
.shipping-form .form-group input[type="email"]:focus,
.shipping-form .form-group select:focus,
.shipping-form .form-group textarea:focus,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.product-info-tabs .prod-tabs .add-review .form-group textarea:focus,
.product-info-tabs .prod-tabs .add-review .form-group input:focus,
.product-info-tabs .prod-tabs .add-review .form-group select:focus,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.ui-state-active,
.contact-page-section .contact-info li .icon,
.service-sidebar .link-box a:hover,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover,
.testimonial-section.style-two .owl-nav .owl-prev:hover,
.testimonial-section.style-two .owl-nav .owl-next:hover,
.sidebar .search-box .form-group input:focus,
.service-block-two .inner-box:before,
.service-block-two .inner-box:after,
.contact-form-two .form-group input:focus,
.contact-form-two .form-group select:focus,
.contact-form-two .form-group textarea:focus,
.fun-fact-section .title-column .inner-column,
.shop-sidebar .search-box .form-group input:focus,
.styled-pagination li a:hover,
.comment-form .form-group input:focus,
.comment-form .form-group textarea:focus,
.styled-pagination li.active a,
.about-us .content-column .link-box a,
.main-footer .subscribe-form .form-group input:focus,
.service-block .lower-content .icon-box .icon,
.service-block .lower-content .icon-box:before,
.service-block .lower-content .icon-box:after,
.main-header .search-panel input:focus,
.main-header .search-panel select:focus,
.btn-style-six:hover,
.btn-style-five:hover,
.btn-style-four:hover,
.btn-style-two {
    border-color: #ff9f14;
}

.fa {
    color: #007dc5;
}