<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a routerLink="/news">Tin tức</a></li>
                        <li class="breadcrumb-item active">Tin tức chi tiết</li>
                    </ol>
                </div>
                <!-- <h4 class="page-title">Cards</h4> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card m-b-30">
                        <img class="card-img-top img-fluid" [src]="blogModel.image">
                        <div class="card-body">
                            <p class="card-text" [innerHtml]="blogModel.body"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>