.stop {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    --wpcargo: #007dc5;
    line-height: 1.6;
    font-size: 15px;
    color: #000;
    -webkit-box-sizing: border-box;
    border: 0;
    font-family: inherit;
    text-align: justify;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

.site-footer {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    --wpcargo: #007dc5;
    line-height: 1.6;
    text-align: justify;
    font-style: inherit;
    -webkit-box-sizing: border-box;
    display: block;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    padding: 70px 0 40px 0;
    margin: 0 0 0 0;
    border-width: 0 0 0 0;
    border-style: solid;
    border-color: #000;
    color: #AAA;
    background-color: #232331;
}

.site-footer .col-md-4 {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    --wpcargo: #007dc5;
    line-height: 1.6;
    font-size: 14px;
    color: #AAA;
    border: 0;
    font-family: inherit;
    text-align: justify;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    width: 100%;
    vertical-align: top;
    padding: 0 15px;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: .9375rem;
    padding-left: .9375rem;
    flex-basis: 33.333%;
    max-width: 33.333%;
    margin-bottom: 30px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

.site-footer .widget-title {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    --wpcargo: #007dc5;
    line-height: 1.6;
    -webkit-box-sizing: border-box;
    border: 0;
    text-align: justify;
    font-style: inherit;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin: 0;
    font-weight: 300!important;
    font-family: Open Sans Condensed;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .05em;
    margin-bottom: 30px!important;
    color: #fff;
}

.site-footer .widget-title span {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    --wpcargo: #007dc5;
    line-height: 1.6;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .05em;
    color: #fff;
    -webkit-box-sizing: border-box;
    border: 0;
    font-family: inherit;
    text-align: justify;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
    position: relative;
    display: inline-block;
    padding: 10px 10px 10px 20px;
    background-color: #8b0000;
}

.site-footer .textwidget .info p {
    line-height: 0.5!important;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-footer .menu {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    --wpcargo: #007dc5;
    line-height: 1.6;
    color: #AAA;
    -webkit-box-sizing: border-box;
    list-style: disc;
    border: 0;
    font-family: inherit;
    text-align: justify;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin-left: 0;
    font-size: 0;
}

.site-footer a {
    color: #AAA;
}

.site-footer .menu li {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    --wpcargo: #007dc5;
    line-height: 1.6;
    color: #AAA;
    list-style: disc;
    -webkit-box-sizing: border-box;
    border: 0;
    font-family: inherit;
    text-align: justify;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: all 0s cubic-bezier(.215, .61, .355, 1);
    vertical-align: top;
    margin-bottom: 10px;
    list-style-type: none;
    font-size: 14px;
    display: block;
}

.site-footer .widget-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.site-footer .widget-title span:after {
    border-left-color: #8b0000 !important;
}

.site-footer .widget-title span:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 50px;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    top: 0;
    right: -50px;
}

.site-footer a:hover {
    color: #ca1f26;
}

.copyright {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    --wpcargo: #007dc5;
    font-size: 15px;
    -webkit-box-sizing: border-box;
    border: 0;
    font-family: inherit;
    text-align: justify;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    overflow: hidden;
    line-height: 1;
    background-color: #232331;
    color: #fff;
}

.site-footer,
.copyright {
    background-color: #232331;
}

.middle {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.copyright .left {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    --wpcargo: #007dc5;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    border: 0;
    font-family: inherit;
    text-align: justify;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: .9375rem;
    padding-left: .9375rem;
    flex-basis: 33.333%;
    max-width: 33.333%;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    background-color: #8b0000;
}

.get-quote:before,
.better-menu-widget li.current-menu-item:before,
.pricing.style1 .wpb_column:nth-child(2) .wpb_wrapper .vc_custom_heading,
.pricing.style1 .wpb_column:hover .wpb_wrapper .vc_custom_heading,
.tp-caption.icon,
.better-menu-widget li:hover:before,
.pagination span.current,
.thememove_testimonials .author,
.recent-posts__item .recent-posts__thumb a:before,
.header01 .site-branding,
.header01 .site-branding:before,
.copyright .left,
.copyright .left:before {
    background-color: #8b0000;
}

.end-md {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
}

.copyright .left:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 0 0 90px;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    top: 0;
    right: -90px;
}

.better-menu-widget li.current-menu-item:after,
.better-menu-widget li:hover:after,
.header01 .site-branding:after,
.copyright .left:after {
    border-left-color: #8b0000;
}

@media (min-width: 62rem) {
    .copyright .left:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1000px;
        width: 1000px;
    }
}

#topnav .site-header {
    overflow: hidden;
    font-size: 14px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-width: 0 0 0 0;
    border-style: solid;
    border-color: #000;
}

.site-header .container {
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin-right: auto;
    margin-left: auto;
    padding-left: .9375rem;
    padding-right: .9375rem;
    max-width: 73.125rem;
}

.site-header,
.extra-info h3 {
    color: #111;
    font-weight: 600 !important;
}

#topnav .site-branding {
    background-color: #fff!important;
}

@media (min-width: 62rem) {
    .site-branding {
        padding: 60px 20px 25px 15px;
    }
}

.site-branding {
    position: relative;
    z-index: 1;
    padding: 20px 15px;
}

#topnav .site-branding::after {
    border-left-color: transparent!important;
}

@media (min-width: 62rem) {
    #topnav .site-branding:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1000px;
        width: 1000px;
    }
    #topnav .site-branding:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 200px 0 0 90px;
        border-color: transparent transparent transparent transparent;
        position: absolute;
        top: 0;
        right: -90px;
    }
}

.site-top {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-width: 0 0 0 0;
    border-style: solid;
    border-color: #ddd;
    width: 100%;
    position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

.center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.error404 .content i,
.wpb_text_column li:before,
.tp-caption.a1 span,
.vc_custom_heading.style5:before,
.vc_custom_heading.style4:before,
.vc_custom_heading.style4:after,
.woocommerce ul.products li.product .price,
.woocommerce ul.products li.product .price ins,
.woocommerce ul.product_list_widget li,
ul.style1 li:before,
.better-menu-widget li:before,
.single-post .comment-reply-title:before,
.page .comment-reply-title:before,
.single-post .comments-title:before,
.page .comments-title:before,
.post-thumb .date,
.sidebar .widget-title:before,
.wpb_widgetised_column .widget-title:before,
.vc_custom_heading.style3,
.related.products h2:before,
.eg-infinity-features-element-25 i,
.services1 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-color-blue .vc_icon_element-icon,
.extra-info i,
.vc_custom_heading.style1:before,
.vc_custom_heading.style1:after,
.vc_custom_heading.style2:before,
.vc_custom_heading.style2:after {
    color: #007dc5;
}

.extra-info i {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 10px;
    float: left;
    margin-right: 15px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.extra-info>div {
    text-align: left;
}

.extra-info h3 {
    font-size: 16px!important;
}

.extra-info h3 {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: normal;
    font-weight: 400;
}

.extra-info span {
    font-weight: 600;
    color: #777;
}

@media (min-width: 62rem) {
    #topnav .extra-info>div {
        padding: 25px 15px 0;
    }
}

.extra-info>div {
    text-align: left;
}

.entry-content,
.entry-summary,
.page-content,
.comment-content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.vc_clearfix:after {
    clear: both;
}

.vc_clearfix:after,
.vc_clearfix:before {
    content: " ";
    display: table;
}

.vc_custom_1575344195445 {
    padding-bottom: 20px!important;
}

.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}

.vc_row:after {
    clear: both;
}

.vc_row:after,
.vc_row:before {
    content: " ";
    display: table;
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.vc_column-inner::after {
    clear: both;
}

.vc_column-inner::after,
.vc_column-inner::before {
    content: " ";
    display: table;
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.wpb_content_element {
    margin-bottom: 25px!important;
}

.vc_custom_1585282928183 {
    padding-bottom: -15px!important;
}

.wpb_button,
.wpb_content_element,
ul.wpb_thumbnails-fluid>li {
    margin-bottom: 35px;
}

#content .wpb_alert p:last-child,
#content .wpb_text_column :last-child,
#content .wpb_text_column p:last-child,
.wpb_alert p:last-child,
.wpb_text_column :last-child,
.wpb_text_column p:last-child {
    margin-bottom: 0;
}

.vc_row.vc_row-o-content-middle:not(.vc_row-o-equal-height)>.vc_column_container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.vc_row.vc_row-flex>.vc_column_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.vc_row.vc_row-o-content-middle>.vc_column_container>.vc_column-inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.vc_row.vc_row-flex>.vc_column_container>.vc_column-inner {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1;
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.wpb_single_image img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}

.site-footer .container .row .widget_text .textwidget div {
    font-size: 18px;
}

.btn-frame {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    top: auto !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.btn-zalo {
    bottom: 145px;
}

.btn-mail {
    bottom: 45px;
}

.btn-frame .animated.infinite {
    animation-iteration-count: infinite;
}

.btn-frame .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.btn-frame .zoomIn {
    animation-name: zoomIn;
}

.btn-frame .kenit-alo-circle {
    width: 50px;
    height: 50px;
    top: -5px;
    right: -5px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(7, 41, 103, 0.8);
    opacity: .1;
    border-color: #e32124;
    opacity: .5;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.btn-frame .animated.infinite {
    animation-iteration-count: infinite;
}

.btn-frame .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.btn-frame .pulse {
    animation-name: pulse;
}

.btn-frame .kenit-alo-circle-fill {
    width: 60px;
    height: 60px;
    top: -10px;
    right: -10px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: rgba(7, 41, 103, 0.35);
    opacity: .4;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.btn-frame i {
    display: flex;
    display: -ms-flex;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e32124;
    position: relative;
    z-index: 1;
}

.btn-frame i img {
    vertical-align: middle;
    width: 70%;
}

img {
    border: 0 none;
    max-width: 100%;
    height: auto;
}

.btn-phone {
    bottom: 80px;
}

.js-facebook-messenger-box.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.js-facebook-messenger-box.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.js-facebook-messenger-box,
.js-facebook-messenger-button,
.js-facebook-messenger-tooltip {
    z-index: 999;
}

.js-facebook-messenger-box {
    display: block;
    position: fixed;
    cursor: pointer;
    bottom: 17px;
    top: auto !important;
    right: 17px;
    width: 46px;
    height: 46px;
    text-align: center;
    background: #e32124;
    border-radius: 100%;
    overflow: hidden;
    z-index: 99;
    -webkit-box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 30%);
    -moz-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 30%);
}

.js-facebook-messenger-box,
.js-facebook-messenger-button,
.js-facebook-messenger-tooltip {
    z-index: 999;
}

.js-facebook-messenger-box.rotate svg#fb-msng-icon {
    transform: rotate(0deg);
}

.js-facebook-messenger-box svg#fb-msng-icon {
    width: 22px;
    height: 23px;
    position: absolute;
    top: 13px;
    left: 12px;
    opacity: 1;
    overflow: hidden;
    -webkit-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
    -moz-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
    -o-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
    transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
}

svg:not(:root) {
    overflow: hidden;
}

svg path,
svg rect {
    fill: #e32124;
}

.js-facebook-messenger-box.rotate svg#close-icon {
    transform: rotate(-45deg);
}

.js-facebook-messenger-box svg#close-icon {
    opacity: 0;
    width: 19px;
    height: 20px;
    position: absolute;
    top: 13px;
    left: 14px;
    -webkit-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
    -moz-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
    -o-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
    transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
}

.js-facebook-messenger-container,
.js-facebook-messenger-container-button {
    z-index: 1000;
}

.js-facebook-messenger-container {
    position: fixed;
    opacity: 0;
    transform: translateY(50px);
    bottom: 20px;
    right: 80px;
    top: auto !important;
    border-radius: 10px;
    pointer-events: none;
    box-shadow: 0 1px 6px rgb(0 0 0 / 6%), 0 2px 32px rgb(0 0 0 / 16%);
    -webkit-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
    -moz-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
    -o-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
    transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
}

.js-facebook-messenger-container,
.js-facebook-messenger-container-button {
    z-index: 1000;
}

@media (max-width: 768px) {
    .site-branding {
        padding: 10px 15px!important;
    }
}

#open-left {
    color: #fff;
}

@media (max-width: 992px) {
    #open-left {
        color: #8b0000!important;
        padding-right: 30px!important;
        font-size: 25px!important;
    }
    .site-top {
        display: none !important;
    }
    .navbar-custom {
        display: none !important;
    }
    #content {
        background-color: #f3f6f8;
        padding-top: 0px !important;
    }
    .site-branding {
        width: auto;
    }
    #topnav {
        position: relative;
    }
}

#content {
    background-color: #f3f6f8;
    /* padding-top: 148px; */
    padding-top: 240px;
}

#open-left {
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
}

@media (min-width: 75rem) {
    .hidden-lg {
        display: none!important;
    }
}

@media (max-width: 30rem) {
    .hidden-lg {
        display: inline-block!important;
        width: 79%;
        padding-top: 6%;
        padding-right: 0px;
    }
}

.end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
}

@media (max-width: 991px) {
    #navigation {
        position: absolute;
        top: 0px;
        right: 0 !important;
        width: 60%;
        display: none;
        height: auto;
        padding-bottom: 0;
        overflow: auto;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        background-color: white;
    }
    #topnav .navbar-custom {
        min-height: 0px;
    }
    #topnav .navigation-menu {
        float: none;
        max-height: 400px;
        text-align: left;
    }
    #topnav .navigation-menu>li {
        display: block;
    }
    #topnav .navigation-menu>li>a {
        font-size: 15px;
    }
    #topnav .navigation-menu>li>a {
        padding: 15px;
        font-size: 10px;
        max-height: 30px;
        line-height: 0px;
    }
    #topnav .navigation-menu>li>a:hover,
    #topnav .navigation-menu>li>a:focus {
        background-color: rgba(255, 255, 255, .2);
    }
    #topnav .navigation-menu>li>a:hover,
    #topnav .navigation-menu>li>a:focus {
        color: #8b0000;
        transition: all 0s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        border-left: 0.1px solid rgb(178, 209, 230);
        border-right: 0.1px solid rgb(178, 209, 230);
    }
    .site-top {
        display: none;
    }
}

@media (max-width: 768px) {
    .container-fluid {
        max-width: 100%;
    }
}

@media (min-width: 1500px) {
    #topnav .navigation-menu>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 1499px) {
    #topnav .navigation-menu>li>a {
        font-size: 12px;
    }
}