<div class="container" style="font-size: 20px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Bảng giá</li>
                    </ol>
                </div>
                <!-- <h4 class="page-title">Cards</h4> -->
            </div>
        </div>
    </div>
    <div class="card-box">
        <div class="content">
            <article id="post-76014">
                <div class="entry-content">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p><strong>Giá cước vận chuyển hàng hóa</strong> luôn là yếu tố ảnh hưởng nhiều nhất đến chi phí sản xuất, lợi nhuận kinh doanh của các công ty. Khi bạn có nhu cầu vận chuyển hàng hóa đi đến bất kì tỉnh nào bạn
                                                luôn quan tâm đến chi phí. Tuyến đường đi cũng như chất lượng dịch vụ của đơn vị vận tải mình muốn chọn.</p>
                                            <h2><span class="ez-toc-section" id="Cach_xac_dinh_lua_chon_dich_vu_van_chuyen"><strong>Cách xác định lựa
                                                chọn dịch vụ vận chuyển</strong></span></h2>
                                            <div id="ez-toc-container" class="counter-hierarchy counter-decimal">
                                                <nav>
                                                    <ul class="ez-toc-list" style="display: none;">
                                                        <li><a title="Cách xác định lựa chọn dịch vụ vận chuyển">Cách xác định
                                                        lựa chọn dịch vụ vận chuyển</a></li>
                                                        <li><a title="Cách tính số khối, khối lượng hàng">Cách tính số khối,
                                                        khối lượng hàng</a></li>
                                                        <li><a title="Bảng giá&nbsp;cước vận tải&nbsp;hàng hóa Bắc Nam giá rẻ tại Văn Dung">Bảng
                                                        giá&nbsp;cước vận tải&nbsp;hàng hóa Bắc Nam giá rẻ tại Văn Dung</a></li>
                                                        <li><a title="Dịch vụ vận chuyển hàng hóa Bắc Nam của Văn Dung">Dịch vụ
                                                        vận chuyển hàng hóa Bắc Nam của Văn Dung</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <p>Trước khi lựa chọn <a>công ty vận chuyển
                                            hàng hóa</a>. Bạn cần xác định được tuyến đường mình gửi hàng là tuyến nội thành hay các tỉnh lân cận. Hay tuyến gửi hàng xa như vận chuyển hàng miền trung, vận chuyển hàng miền bắc,… Từ đó chọn&nbsp;đúng công
                                                ty vận tải, tiết kiệm được chi phí, tăng hiệu quả công việc.</p>
                                            <p><strong><em><u>Vd:</u></em></strong><em> Bạn cần chuyển hàng đi Phan Thiết với số
                                            lượng vài chục kí thì bạn nên gửi chành xe khách đi tuyến Phan Thiết. Hoặc
                                            số lượng lớn thì bạn gửi nhà xe tải chuyên chở hàng lẻ hàng ghép đi Phan
                                            Thiết.&nbsp;Hoặc bạn cần gửi hàng ra Hà Nội, thì gửi các chành xe chuyên đi
                                            tuyến Bắc Nam.&nbsp;</em></p>
                                        </div>
                                    </div>
                                    <div class="wpb_single_image wpb_content_element vc_align_center">
                                        <figure class="wpb_wrapper vc_figure">
                                            <a data-rel="prettyPhoto[rel-76014-2894136815]" target="_self" class="vc_single_image-wrapper   vc_box_border_grey prettyphoto"><img width="640" height="311" src="https://vanchuyenachau.com.vn/wp-content/uploads/2019/11/cong-ty-van-tai-1024x498.jpg" class="vc_single_image-img attachment-large" alt="Công ty vận tải Văn Dung" srcset="https://vanchuyenachau.com.vn/wp-content/uploads/2019/11/cong-ty-van-tai-1024x498.jpg 1024w, https://vanchuyenachau.com.vn/wp-content/uploads/2019/11/cong-ty-van-tai-300x146.jpg 300w, https://vanchuyenachau.com.vn/wp-content/uploads/2019/11/cong-ty-van-tai-768x373.jpg 768w, https://vanchuyenachau.com.vn/wp-content/uploads/2019/11/cong-ty-van-tai.jpg 1280w"
                                                    sizes="(max-width: 640px) 100vw, 640px"></a>
                                        </figure>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h2><span class="ez-toc-section" id="Cach_tinh_so_khoi_khoi_luong_hang"><strong>Cách
                                                tính số khối, khối lượng hàng</strong></span></h2>
                                            <p>Dịch vụ vận chuyển hàng hóa là loại hàng hóa vô hình, nó phụ thuộc chủ yếu vào tính chất thực tế của hàng. Hàng nhẹ giá sẽ tính theo khối&nbsp;(dài x rộng x cao). Hàng nặng, gọn ít chiếm diện tích xe sẽ tính
                                                giá theo ký. Hàng cồng kềnh sẽ có cách quy đổi riêng để tính giá. Do đó để biết giá chính xác khách hàng cần gửi cho chúng tôi các thông tin theo mẫu sau:</p>
                                            <ul>
                                                <li>Tên hàng hóa, quy cách đóng gói: vd hóa chất đóng bao 50kg, máy bơm đóng kiện gỗ,…</li>
                                                <li>Kích thước: dài x rộng x cao</li>
                                                <li>Khối lượng, số lượng, số kiện:</li>
                                                <li>Địa điểm giao nhận hàng:</li>
                                                <li>Hình thức bốc xếp nâng hạ hàng hóa: (lưu ý:&nbsp;1 số hàng nặng, cồng kềnh sẽ có sử dụng thiết bị cẩu, xe nâng)</li>
                                                <li>Thời gian giao nhận:</li>
                                                <li>Các yêu cầu bảo quản đặc biệt: Ví dụ hàng dễ vỡ, hàng chất lỏng, hàng không được chồng ghép,</li>
                                            </ul>
                                            <p>Với những đơn hàng đi dạng phục vụ thi công công trình, dự án. Những đơn hàng yêu cầu vận chuyển đặc biệt hãy liên hệ trực tiếp <span style="color: #ff0000;"><strong>Hotline: <a href="tel:0988361399">0988.361.399</a> - <a href="tel: 0979998199"> 0979.998.199</a></strong></span>.
                                                Để chúng tôi đưa ra mức giá phù hợp nhất.</p>
                                            <h2><span class="ez-toc-section" id="Bang_gia_cuoc_van_tai_hang_hoa_Bac_Nam_gia_re_tai_A_Chau"><strong>Bảng
                                                giá&nbsp;cước vận tải&nbsp;hàng hóa Bắc Nam giá rẻ tại Văn Dung</strong></span></h2>
                                            <p>Có hai cách tính giá cước là theo khối hoặc theo kg. Đối với hàng nặng mà nhỏ sẽ áp dụng tính cước theo kg. Đối với hàng nhẹ mà kích thước lớn tính cước theo khối.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="vc_custom_heading">
                                        <h3 style="text-align: center">Bảng giá cước vận chuyển hàng từ Hà Nội đi các tỉnh</h3>
                                    </div>
                                    <div class="wpb_vc_table wpb_content_element">
                                        <table class="vc-table-plugin-theme-classic_blue">
                                            <tbody>
                                                <tr class="vc-th">
                                                    <td style="text-align:left;" class="vc_table_cell vc_cell_border_right">
                                                        <span class="vc_table_content">Từ Hà Nội đi các Tỉnh Thành</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell vc_cell_border_right">
                                                        <span class="vc_table_content">Tính theo kg (vnd/kg)</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell vc_cell_border_right">
                                                        <span class="vc_table_content">Tính theo khối (vnd/khối)</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">Nguyên xe (triệu vnd/xe)</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Quảng Bình, Hà Tĩnh, Nghệ An, Thanh
                                                    Hóa</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">700 - 1.700</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">220.000 - 320.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">11 - 23</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Huế, Quảng Trị, Đà Nẵng</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">900 – 1.800</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">290.000 – 400.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">13 - 25</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Phú Yên, Bình Định, Quảng Nam, Quảng
                                                    Ngãi</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.000 – 2.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">250.000 – 440.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">14 - 29</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Nha Trang, Ninh Thuận, Bình Thuận</span>
                                                    </td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.100 – 2.100</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">360.000 – 450.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">15 - 30</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Đồng Nai, Bình Dương</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.100 – 2.200</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">360.000 – 450.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">15 - 30</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Tp.HCM</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.200 – 2.300</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">360.000 – 460.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">15 - 30</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Vũng Tàu, Bình Phước, Tây Ninh, Long An,
                                                    Bến Tre</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.400 – 2.500</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">370.000 – 480.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">17 - 32</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Cần Thơ, Đồng Tháp, Vĩnh Long, An Giang,
                                                    Trà Vinh</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.600 – 2.800</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">430.000 – 550.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">19 - 34</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Komtum, Gia Lai, Đắk Lắk, Lâm Đồng</span>
                                                    </td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.800 – 3.800</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">450.000 – 780.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">19 - 34</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="vc_custom_heading">
                                        <h3 style="text-align: center">Bảng giá cước vận chuyển hàng từ Sài Gòn (HCM) đi các tỉnh
                                        </h3>
                                    </div>
                                    <div class="wpb_vc_table wpb_content_element">
                                        <table class="vc-table-plugin-theme-classic_blue">
                                            <tbody>
                                                <tr class="vc-th">
                                                    <td style="text-align:left;" class="vc_table_cell vc_cell_border_right">
                                                        <span class="vc_table_content">Từ TPHCM đi các Tỉnh Thành</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell vc_cell_border_right">
                                                        <span class="vc_table_content">Tính theo kg (vnd/kg)</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell vc_cell_border_right">
                                                        <span class="vc_table_content">Tính theo khối (vnd/khối)</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">Nguyên xe (triệu vnd/xe)</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Nha Trang, Ninh Thuận, Bình Thuận</span>
                                                    </td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">900 – 1.600</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">280.000 – 370.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">9 - 20</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Phú Yên, Bình Định</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.000 – 1.800</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">380.000 – 450.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">12 - 24</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Quảng Ngãi, Quảng Nam, Đà Nẵng</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.200 – 2.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">380.000 – 450.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">14 - 27</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Huế, Quảng Trị, Quảng Bình</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.300 – 2.400</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">420.000 – 500.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">16 - 32</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Nghệ An, Hà Tĩnh, Thanh Hóa</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.800 – 2.700</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">450.000 – 550.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">17 - 42</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Hà Nội</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.600 – 2.800</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">450.000 – 550.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">17 - 42</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Hà Nam, Ninh Bình, Nam Định, Hưng Yên, Bắc
                                                    Ninh</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.600 – 2.900</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">450.000 – 550.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">18 - 44</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Vĩnh Phúc, Hải Dương, Bắc Giang, Hòa
                                                    Bình</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.700 – 3.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">470.000 – 580.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">20 - 44</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Phú Thọ, Thái Nguyên, Thái Bình, Hải
                                                    Phòng</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.800 – 3.100</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">470.000 – 580.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">20 - 45</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;" class="vc_table_cell"><span class="vc_table_content">Hạ Long, Yên Bái, Tuyên Quang, Lạng Sơn,
                                                    Bắc Cạn</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">2.100 – 3.300</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">490.000 – 610.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">22 - 48</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="vc_custom_heading">
                                        <h3 style="text-align: center">Bảng giá cước vận chuyển hàng từ Tp.HCM đi các tỉnh miền Tây Nam</h3>
                                    </div>
                                    <div class="wpb_vc_table wpb_content_element">
                                        <table class="vc-table-plugin-theme-classic_blue">
                                            <tbody>
                                                <tr class="vc-th">
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">Tỉnh</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">Tính theo kg (vnd/kg)</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">Tính theo khối (vnd/khối)</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">Nguyên xe (triệu vnd/xe)</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="vc_table_cell"><span class="vc_table_content">Long An, Tiền
                                                    Giang, Bến Tre</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">350 - 1.300</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">120.000 - 220.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">1.3 - 4.4</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="vc_table_cell"><span class="vc_table_content">Cần Thơ, Đồng Tháp,
                                                    Vĩnh Long, An Giang, Trà Vinh</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">400 - 1.400</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">160.000 - 260.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">2.5 - 6.2</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="vc_table_cell"><span class="vc_table_content">Cà Mau, Bạc Liêu,
                                                    Kiên Giang, Sóc Trăng, Hậu Giang</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">500 - 1.600</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">200.000 - 290.000</span></td>
                                                    <td style="text-align:center;" class="vc_table_cell"><span class="vc_table_content">3.4 - 9.8</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p><b><i><u>Lưu ý:</u></i></b> Giá cước chưa bao gồm VAT, phí bốc xếp tận nơi. Đây là giá cước tham khảo, để biết giá chính xác nhất theo đơn hàng vui lòng liên hệ trực tiếp <span style="color: #ff0000;"><b>Hotline: <a href="tel:0988361399">0988.361.399</a> - <a href="tel: 0979998199"> 0979.998.199</a></b></span>,
                                                quý khách gửi hàng càng nhiều giá càng rẻ.</p>
                                        </div>
                                    </div>
                                    <div class="wpb_single_image wpb_content_element vc_align_center">
                                        <figure class="wpb_wrapper vc_figure">
                                            <a data-rel="prettyPhoto[rel-76014-2829581013]" target="_self" class="vc_single_image-wrapper   vc_box_border_grey prettyphoto"><img width="640" height="268" src="https://vanchuyenachau.com.vn/wp-content/uploads/2019/10/phuc-vu-chuyen-nghiep-1024x428.png" class="vc_single_image-img attachment-large" alt="Báo giá cước vận chuyển mới nhất 2020"
                                                    srcset="https://vanchuyenachau.com.vn/wp-content/uploads/2019/10/phuc-vu-chuyen-nghiep-1024x428.png 1024w, https://vanchuyenachau.com.vn/wp-content/uploads/2019/10/phuc-vu-chuyen-nghiep-300x125.png 300w, https://vanchuyenachau.com.vn/wp-content/uploads/2019/10/phuc-vu-chuyen-nghiep-768x321.png 768w"
                                                    sizes="(max-width: 640px) 100vw, 640px"></a>
                                        </figure>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p>Vận chuyển Văn Dung quan tâm chất lượng hàng đầu, vì thế không những chúng tôi cung cấp cho bạn dịch vụ uy tín, mà chúng tôi còn đảm bảo cho bạn mức <span style="color: #ff0000;"><strong>giá cước phù hợp, phải
                                                chăng</strong>.</span></p>
                                            <h2><span class="ez-toc-section" id="Dich_vu_van_chuyen_hang_hoa_Bac_Nam_cua_A_Chau"><strong>Dịch vụ <a
                                                    >vận chuyển
                                                    hàng hóa Bắc Nam</a> của Văn Dung</strong></span></h2>
                                            <h3><strong>Hình thức giao nhận hàng hóa</strong></h3>
                                            <p>Vận chuyển Văn Dung có 4 hình thức vận chuyển khác nhau cho khách hàng lựa chọn. Tùy vào số lượng hàng hóa và địa điểm của mình lựa chọn hình thức cho phù hợp và tiết kiệm nhất.</p>
                                            <ul>
                                                <li>Giao nhận hàng tại kho bãi Văn Dung</li>
                                                <li>Giao nhận hàng tận nơi hai đầu</li>
                                                <li>Nhận hàng tại kho giao hàng tận nơi</li>
                                                <li>Nhận hàng tận nơi giao hàng tại kho bãi Văn Dung</li>
                                            </ul>
                                            <p>Đối với giao hàng tận nơi sẽ lựa chọn xe tải trung chuyển hàng phù hợp với số lượng hàng hóa. Và để đảm bảo quá trình này diễn ra nhanh chóng, chính xác, quý khách cần báo chính xác về lượng hàng. Cũng như địa
                                                điểm giao nhận để có phương án phù hợp nhất.</p>
                                            <h3><strong>Lịch xe vận chuyển hàng hóa Bắc Nam</strong></h3>
                                            <p>Thông thường các tuyến vận chuyển hàng đường dài Bắc Trung Nam tại Văn Dung mỗi ngày có 3 – 4 chuyến. Lịch xuất phát xe đi các tỉnh thành từ 18h – 22h hàng ngày trừ chủ nhật.</p>
                                            <p>Tuy nhiên nếu khách hàng có nhu cầu cần hàng gấp, thuê nguyên xe chở hàng. Chúng tôi có thể cho xe đi sớm hơn dự kiến. Yêu cầu khách hàng cần thông báo trước 1 ngày để nhân viên sắp xếp xe chở hàng.</p>
                                            <h3><strong>Thời gian giao nhận:</strong></h3>
                                            <p>Đối với các tuyến chuyển hàng từ Tp.HCM đi Hà Nội và ngược lại thời gian vận chuyển dự kiến mất 3 – 4 ngày không kể ngày nhận hàng</p>
                                            <p>Đối với các tuyến vận chuyển đi miền trung thời gian chuyển ngắn hơn mất 2 – 3 ngày tùy theo địa điểm.</p>
                                            <p>Quý khách hàng cần báo giá và có nhu cầu vận chuyển hãy liên hệ <span style="color: #ff0000;"><strong>HOTLINE:</strong>
                                        </span><a href="tel:0988361399">0988.361.399</a> - <a href="tel: 0979998199"> 0979.998.199</a>, chúng tôi sẽ gửi cho bạn&nbsp;<strong><span
                                                lang="EN-US">giá cước vận chuyển hàng hóa&nbsp;chính
                                                xác</span></strong>, kèm theo tư vấn cách đóng gói, đóng kiện, vận chuyển hàng hóa hiệu quả, tiết kiệm.</p>
                                            <p>Thông tin liên hệ:</p>
                                            <section class="vc_cta3-container">
                                                <div class="vc_general vc_cta3 vc_cta3-style-outline vc_cta3-shape-square vc_cta3-align-left vc_cta3-color-blue vc_cta3-icon-size-md">
                                                    <div class="vc_cta3_content-container">
                                                        <div class="vc_cta3-content">
                                                            <header class="vc_cta3-content-header">
                                                                <div class="vc_custom_heading">
                                                                    <h3 style="color: #007dc5;">Công ty cổ phần vận chuyển Văn Dung
                                                                    </h3>
                                                                </div>
                                                            </header>
                                                            <p><strong><span style="color: #ff0000;"><img width="24" height="24" class="emoji mr-2" draggable="false"
                                                                        src="https://s.w.org/images/core/emoji/12.0.0-1/svg/260e.svg" alt="☎"></span> Hotline: <a
                                                                    href="tel:0988361399">0988.361.399</a> - <a href="tel: 0979998199">
                                                                    0979.998.199</a></strong><br> <img class="emoji mr-2" draggable="false" width="24" height="24" src="https://s.w.org/images/core/emoji/12.0.0-1/svg/1f3e4.svg" alt="?"> <strong>Trụ sở chính tại
                                                                TPHCM: </strong>38/5 tổ 5 ấp Tân Hiệp – xã Tân Bình – huyện Dĩ An – tỉnh Bình Dương<br>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>