<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="page-title category-title">
                <h1 class="title-head"><a href="#">Xi măng Huy Đồng - Chính sách giao hàng</a></h1>
            </div>
            <div class="content-page">
                <h2 style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;"><span style="font-size:16px;"><strong>1. PHẠM VI ÁP DỤNG</strong></span></h2>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;"><span style="font-size:16px;"><strong>-</strong>&nbsp;Tất cả các khách hàng đăng ký mua số lượng lớn xi măng các loại&nbsp;tại Website &nbsp;hoặc khách hàng đến trực tiếp xem và đặt hàng các sản phẩm có thương hiệu như <a href="http://ximanghuydong.vn/xi-mang-vicem-ha-tien-b2009885.html">xi măng Vicem Hà Tiên</a>, <a href="http://ximanghuydong.vn/xi-mang-thang-long-b1672666.html">xi măng Thăng Long</a>, <a href="http://ximanghuydong.vn/xi-mang-nghi-son-b1672663.html">xi măng Nghi Sơn</a>...&nbsp;tại công ty có nhu cầu giao hàng trực tiếp tại nhà.&nbsp;</span></p>

                <h2 style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;"><strong>2. HÌNH THỨC ÁP DỤNG</strong></span></h2>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">Giao hàng tính phí:&nbsp;</span><span style="font-size: 16px; line-height: 200%;">&nbsp;Ngoài trường hợp giao hàng miễn phí trên, các trường hợp còn lại sẽ được tính phí giao hàng theo bảng phí vận chuyển của hãng vận chuyển thứ 3 hoặc theo bảng phí của công ty.</span></p>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size: 16px; line-height: 200%;">Chi phí này sẽ được công ty thông báo và xác nhận với quý khách trước khi quý khách tiến hành thanh toán và công ty tiến hành gửi hàng.</span></p>

                <h2 style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;"><strong>3. THỜI GIAN GIAO HÀNG</strong></span></h2>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Thời gian giao hàng sẽ từ 1 - 2 ngày kể từ ngày đặt hàng và tùy vào khoảng cách vận chuyển.</span></p>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Trong một số trường hợp khách quan Công ty có thể giao hàng chậm trễ do những điều kiện bất khả kháng như thời tiết xấu, điều kiện giao thông không thuận lợi, xe hỏng hóc trên đường giao hàng, trục trặc trong quá trình xuất hàng.</span></p>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Trong thời gian chờ đợi nhận hàng, Quý khách có bất cứ thắc mắc gì về thông tin vận chuyển xin vui lòng liên hệ Hotline của chúng tôi để nhận trợ giúp.</span></p>

                <h2 style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;"><strong>4. TRÁCH NHIỆM VỚI HÀNG HÓA VẬN CHUYỂN.</strong></span></h2>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Công ty sẽ chịu trách nhiệm với hàng hóa và các rủi ro như mất mát hoặc hư hại của hàng hóa trong suốt quá trình vận chuyển hàng từ kho hàng chúng tôi đến quý khách.</span></p>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Quý khách có trách nhiệm kiểm tra hàng hóa khi nhận hàng. Khi phát hiện hàng hóa bị hư hại, trầy xước, bể vỡ, mốp méo, hoặc sai hàng hóa thì ký xác nhận tình trạng hàng hóa với Nhân viên giao nhận và thông báo ngay cho Bộ phận chăm sóc khách hàng theo số hotline của Công ty.</span></p>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Sau khi qúy khách đã ký nhận hàng mà không ghi chú hoặc có ý kiến về hàng hóa. Công ty không có trách nhiệm với những yêu cầu đổi trả vì hư hỏng, trầy xước, bể vỡ, mốp méo, sai hàng hóa,… từ quý khách sau này.</span></p>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Nếu dịch vụ vận chuyển do quý khách chỉ định và lựa chọn thì quý khách sẽ chịu trách nhiệm với hàng hóa và các rủi ro như mất mát hoặc hư hại của hàng hóa trong suốt quá trình vận chuyển hàng từ kho hàng của công ty đến quý khách. Khách hàng sẽ chịu trách nhiệm cước phí và tổn thất liên quan.</span></p>

                <h2 style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;"><strong>5. CÁC ĐIỀU KIỆN KHÁC</strong></span></h2>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Chính sách giao hàng miễn phí không áp dụng đối với những sản phẩm được mua trong chương trình khuyến mại giờ vàng, giá sốc…..</span></p>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Chi phí cầu đường, phí vào thôn xã hoặc phí đỗ xe tại chung cư do khách hàng tự thanh toán.</span></p>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Công ty chỉ giao hàng cho đúng người nhận mà Quý khách hàng đã đăng ký khi mua hàng. Trong quá trình giao hàng nếu có sự thay đổi người nhận một cách không rõ ràng, chúng tôi có quyền từ chối giao hàng và yêu cầu quý khách hàng nhận hàng tại địa điểm của bán hàng của công ty.</span></p>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Nếu địa chỉ giao hàng không rõ ràng, nằm trong ngõ ngách, hoặc ở những nơi nguy hiểm, những vùng đồi núi hiểm trở, phương tiện giao thông đi lại khó khăn, chúng tôi có quyền từ chối vận chuyển, giao nhận hàng trực tiếp.</span></p>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Trong các trường hợp bất khả kháng, do thiên tai, lũ lụt, hỏng hóc cầu phà …, chúng tôi không chịu trách nhiệm bồi thường thiệt hại phát sinh do giao hàng không đúng thời gian hoặc không vận chuyển hàng hóa đến địa điểm như đã thỏa thuận với khách hàng.</span></p>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Trường hợp chúng tôi đã vận chuyển hàng đến địa điểm giao nhận như thỏa thuận lúc mua hàng, nhưng vì một lý do nào đó khách hàng yêu cầu trả lại hàng thì lúc đó khách hàng phải chịu chi phí vận chuyển theo quy định của công ty.</span></p>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Đối với những sản phẩm nặng và cồng kềnh cần vận chuyển lên tầng mà không có thang máy đề nghị khách hàng hỗ trợ trong việc giao nhận.</span></p>

                <p style="margin-bottom: 0.0001pt; line-height: 200%; text-align: justify;  background: #fff;"><span style="font-size:16px;">- Trong những ngày đặc biệt hoặc các ngày Lễ hội do chính sách giao thông chung bị hạn chế (cấm đường đối với một số phương tiện…) thời gian giao hàng có thể sẽ thay đổi, Chúng tôi sẽ gọi điện cho khách hàng để thống nhất thời gian giao nhận.</span></p>
            </div>
        </div>
    </div>
</div>