<carousel *ngIf="!isMobile" [objectFit]="'cover'" [cellWidth]="'100%'" [height]="550" [borderRadius]="10" [autoplay]="true" [dots]="true" [loop]="true">
    <div class="carousel-cell">
        <img style="object-fit: cover;" [src]="homeModel.banner1">
    </div>
    <div class="carousel-cell">
        <img style="object-fit: cover;" [src]="homeModel.banner2">
    </div>
    <div class="carousel-cell">
        <img style="object-fit: cover;" [src]="homeModel.banner3">
    </div>
    <div class="carousel-cell">
        <img style="object-fit: cover;" [src]="homeModel.banner4">
    </div>
</carousel>
<carousel *ngIf="isMobile" [objectFit]="'cover'" [cellWidth]="'100%'" [height]="300" [borderRadius]="10" [autoplay]="true" [dots]="true" [loop]="true">
    <div class="carousel-cell">
        <img style="object-fit: cover;" [src]="homeModel.banner1">
    </div>
    <div class="carousel-cell">
        <img style="object-fit: cover;" [src]="homeModel.banner2">
    </div>
    <div class="carousel-cell">
        <img style="object-fit: cover;" [src]="homeModel.banner3">
    </div>
    <div class="carousel-cell">
        <img style="object-fit: cover;" [src]="homeModel.banner4">
    </div>
</carousel>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <article id="post-13">
                    <div class="entry-content">
                        <div class="vc_row wpb_row vc_row-fluid trang-chu vc_custom_1575344195445">
                            <div class="wpb_column vc_column_container col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  vc_custom_1585282928183 h1-trangchu">
                                            <div class="wpb_wrapper">
                                                <h1>CÔNG TY TNHH Thương Mại Dịch Vụ Vận Tải Văn Dung</h1>
                                            </div>
                                        </div>
                                        <!-- About Start -->
                                        <div class="about mt-125">
                                            <div class="container">
                                                <div class="row align-items-center">
                                                    <div class="col-md-6">
                                                        <div class="about-img">
                                                            <div class="about-img-1">
                                                                <img src="assets/images/companies/image1.jpg" alt="Image">
                                                            </div>
                                                            <div class="about-img-2">
                                                                <img src="assets/images/companies/image2.jpg" alt="Image">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="section-header">
                                                            <p>Chúng tôi có</p>
                                                            <h2>12 Năm Kinh Nghiệm</h2>
                                                        </div>
                                                        <div class="about-text">
                                                            <p>
                                                                Công ty TNHH Thương Mại Dịch Vụ Vận Tải Văn Dung là một công ty vận tải ra đời vào năm 2009 với 12 năm kinh nghiệm trong lĩnh vực cung cấp các mặt hàng vật liệu xây dựng cho các công trình, cửa hàng vật liệu xây dựng tại khu vực miền Nam.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- About End -->

                                        <!-- section -->
                                        <div class="section story_section layout_padding">
                                            <div class="row white_bg">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="main_heading">
                                                            <h3 class="theme_color">Công ty Văn Dung tự hào là nhà phân phối các thương hiệu xi măng, gạch tuynel nổi tiếng như:</h3>
                                                        </div>
                                                    </div>
                                                    <!-- End col-md-12 -->
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="full paddding_left_15">
                                                        <ul class="featured-list">
                                                            <li><i class="fa fa-chevron-circle-right"></i><a>Xi măng Phúc Sơn Đa Dụng (PC40)</a></li>
                                                            <li><i class="fa fa-chevron-circle-right"></i><a>Xi măng Thăng Long</a></li>
                                                            <li><i class="fa fa-chevron-circle-right"></i><a>Xi Măng Công Thanh</a></li>
                                                            <li><i class="fa fa-chevron-circle-right"></i><a>Xi măng Vicem Hà Tiên</a></li>
                                                            <li><i class="fa fa-chevron-circle-right"></i><a>Gạch tuynel Thành Tâm</a></li>
                                                          </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="full text_align_right_img">
                                                        <ul class="featured-list">
                                                            <li><i class="fa fa-chevron-circle-right"></i><a>Gạch tuynel Phước An</a></li>
                                                            <li><i class="fa fa-chevron-circle-right"></i><a>Gạch Tuynel Minh Tú </a></li>
                                                            <li><i class="fa fa-chevron-circle-right"></i><a>Gạch Tuynel Bình Mỹ</a></li>
                                                            <li><i class="fa fa-chevron-circle-right"></i><a>Gạch tuynel Đồng Tiến</a></li>
                                                          </ul>
                                                    </div>
                                                </div>
                                                <br/>
                                                <p>Và nhiều mặt hàng xi măng, gạch khác. Với phương châm kinh doanh “uy tín tạo nên niềm tin khách hàng”. Công ty Văn Dung luôn cố gắng khẳng định vị trí, xây dựng hình ảnh và niềm tin nơi quý khách hàng.</p>
                                            </div> 
                                        </div>
                                        <!-- end section -->

                                        <!-- section -->
                                        <div class="section story_section layout_padding">
                                            <div class="row white_bg">
                                                <div class="col-md-6">
                                                    <div class="full story_blog paddding_left_15">
                                                        <div class="heading_main text_align_left">
                                                            <h2><span class="theme_color">Lợi ích Của khách hàng </span></h2>
                                                        </div>
                                                    </div>
                                                    <div class="full paddding_left_15">
                                                        <p>
                                                            Đến với Công ty TNHH TM DV Vận Tải Văn Dung, khách hàng sẽ tiết kiệm được thời gian và dễ dàng quản lý tài chính, chất lượng, tiêu chuẩn sản phẩm theo một hệ thống bởi chúng tôi cung cấp đầy đủ các dịch vụ vận tải với 4 sản phẩm chủ lực như: (1)Xi măng,
                                                            (2)Gạch, (3)Sắt thép, (4) Cung cấp cát,đá và các loại vật dụng xây dựng, (5) Dịch vụ vận tải,...
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="full text_align_right_img">
                                                        <img class="img-responsive" src="assets/images/companies/image3.jpg" alt="#" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end section -->

                                        <!-- Testimonial -->
                                        <div class="call-action-color story_section" id="Testimonial">
                                            <div class="container white_bg">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="main_heading">
                                                            <h1 class="theme_color">Phương châm của chúng tôi uy tín tạo nên niềm tin của khách hàng.</h1>

                                                        </div>
                                                    </div>
                                                    <!-- End col-md-12 -->
                                                </div>
                                                <!-- End row -->

                                                <div class="col-md-12">
                                                    <p class="justify"><strong><a href="tel:0988361399">Phone: </a> <em> <a
                                                        href="tel:0988361399">0988.361.399</a> -
                                                    <a href="tel: 0979998199">
                                                        0979.998.199</a></em></strong><br>
                                                        <strong><a href="mailto:cttnhh.tm.dv.vt.vandung@gmail.com">Email: </a> <em><span class="red"> <a class="red"
                                                            href="mailto:cttnhh.tm.dv.vt.vandung@gmail.com">cttnhh.tm.dv.vt.vandung@gmail.com</a></span></em></strong>
                                                    </p>
                                                </div>
                                                <!-- End col-md-12-->

                                            </div>
                                            <!-- End container -->
                                        </div>

                                        <!-- End Testimonial -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="call-action-color story_section" id="Testimonial">
                            <div class="container white_bg">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="main_heading">
                                            <h1 class="theme_color">SẢN PHẨM BÁN CHẠY</h1>
                                            <div class="text-center"><span class="underline"></span></div>
                                        </div>
                                    </div>
                                </div>

                                <app-products>

                                </app-products>
                            </div>
                        </div>
                        
                        <div class="call-action-color story_section" id="Testimonial">
                            <div class="container white_bg">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="main_heading">
                                            <h3>TẠI SAO LỰA CHỌN CTY TNHH TM DV VĂN DUNG</h3>
                                            <div class="text-center"><span class="underline"></span></div>
                                        </div>
                                    </div>
                                    <!-- End col-md-12 -->
                                </div>
                                <!-- End row -->

                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="features-div">
                                            <i class="fa fa-shopping-cart"></i>
                                            <h4>DỊCH VỤ TỐT NHẤT</h4>
                                            <p>Hàng hóa lại đa dạng nhiều chủng loại, công ty luôn đảm bảo đáp ứng được nhu cầu của khách hàng. </p>
                                        </div>
                                    </div>
                                    <!-- End col-md-3-->
                                    <div class="col-md-3 col-sm-6">
                                        <div class="features-div">
                                            <i class="fa fa-money"></i>
                                            <h4>GIÁ TỐT NHẤT</h4>
                                            <p>Chúng tôi luôn mang đến cho khách hàng những sản phẩm vật liệu xây dựng giá rẻ, cao cấp nhất tại TP. Hồ Chí Minh và các tỉnh lân cận.</p>
                                        </div>
                                    </div>
                                    <!-- End col-md-3-->
                                    <div class="col-md-3 col-sm-6">
                                        <div class="features-div">
                                            <i class="fa fa-truck"></i>
                                            <h4>GIAO HÀNG CỰC NHANH</h4>
                                            <p>Công ty có đội ngũ nhân viên kinh doanh tận tình, cam kết giao hàng đúng hẹn, đúng chất lượng, giá cả phải chăng.</p>
                                        </div>
                                    </div>
                                    <!-- End col-md-3-->
                                    <div class="col-md-3 col-sm-6">
                                        <div class="features-div">
                                            <i class="fa fa-shield"></i>
                                            <h4>UY TÍN CAO</h4>
                                            <p>Với nguồn hàng luôn luôn sẵn có và đảm bảo chất lượng. Quý khách trước khi mua hàng có thể xem trước mẫu, chọn phương tiện vận chuyển.</p>
                                        </div>
                                    </div>
                                    <!-- End col-md-3-->
                                </div>
                                <!-- End row -->
                            </div>
                        </div>
                        <!-- End Container -->

                    </div>
                </article>
            </div>
        </div>
    </div>
</div>


<div *ngIf="!isMobile" class="row mb-5" style="width: 90%; margin:auto;">
    <carousel [objectFit]="'cover'" [arrowsOutside]="true" [height]="150" [margin]="30  " [autoplay]="true" [borderRadius]="40" [dots]="true" [cellsToShow]="6" [loop]="true" class="brand-slider">
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo1.png">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo2.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo3.png">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo4.png">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo5.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo6.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo7.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo8.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo9.jpg">
        </div>


    </carousel>
</div>

<div *ngIf="isMobile" class="row mb-5" style="width: 90%; margin:auto;">
    <carousel [objectFit]="'cover'" [height]="150" [margin]="20  " [autoplay]="true" [borderRadius]="40" [dots]="true" [cellsToShow]="3" [loop]="true">
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo1.png">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo2.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo3.png">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo4.png">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo5.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo6.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo7.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo8.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo9.jpg">
        </div>


    </carousel>
</div>