# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
iNetEcommerce/iNetEcommerce/obj/
iNetEcommerce/iNetEcommerce/bin/
iNetEcommerce/.vs/
iNetEcommerce/iNetEcommerce/ClientApp/node_modules/
iNetEcommerce/iNetEcommerce/ClientApp/dist/
iNetEcommerce/iNetEcommerce/wwwroot/
iNetEcommerce/iNet.Common/bin/
iNetEcommerce/iNet.Common/obj/
iNetEcommerce/iNet.Context/bin/
iNetEcommerce/iNet.Context/obj/
iNetEcommerce/iNet.Entities/bin/
iNetEcommerce/iNet.Entities/obj/
