<div class="container">
    <section class="services-section-two">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar shop-sidebar">
                        <!-- Categories -->
                        <div class="sidebar-widget categories">
                            <div class="sidebar-title">
                                <h2>Danh Mục</h2>
                            </div>
                            <ul class="category-list">
                                <li>
                                    <a class="active">
                                        Tất cả
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        Xi Măng
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        Gạch
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        Cát, Đá
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        Sắt, Thép
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>

                <!--content side-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <!-- <div class="shop-upper-box clearfix">
                <div class="items-label pull-left"> Hiển thị 9 của tổng 18 sản phẩm. </div>
            </div> -->

                    <div class="row clearfix">
                        <!-- Shop item -->
                        <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="https://hoangphatcompany.vn/products/detail/59"> <img src="https://hoangphatcompany.vn/uploads/imageProducts/hDU5_Front.png" alt="" style="width: 348px;height: auto;"></a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="https://hoangphatcompany.vn/products/detail/59"> Xi Măng FICO Supreme
                                            Power
                                        </a></h3>

                                </div>
                            </div>
                        </div>
                        <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="https://hoangphatcompany.vn/products/detail/58"> <img src="https://hoangphatcompany.vn/uploads/imageProducts/fdko_Front-1.png" alt="" style="width: 348px;height: auto;"></a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="https://hoangphatcompany.vn/products/detail/58"> Xi măng Fico PCB40
                                        </a></h3>

                                </div>
                            </div>
                        </div>
                        <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="https://hoangphatcompany.vn/products/detail/57"> <img src="https://hoangphatcompany.vn/uploads/imageProducts/1Wcr_PG21_image 2.png" alt="" style="width: 348px;height: auto;"></a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="https://hoangphatcompany.vn/products/detail/57"> Xi măng Phúc Sơn </a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="https://hoangphatcompany.vn/products/detail/53"> <img src="https://hoangphatcompany.vn/uploads/imageProducts/m6YD_bao_xi_mang-03.png" alt="" style="width: 348px;height: auto;"></a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="https://hoangphatcompany.vn/products/detail/53"> Xi măng Hà Tiên PCB40
                                            Premium
                                        </a></h3>

                                </div>
                            </div>
                        </div>
                        <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="https://hoangphatcompany.vn/products/detail/55"> <img src="https://hoangphatcompany.vn/uploads/imageProducts/czn9_vhdd.png" alt="" style="width: 348px;height: auto;"></a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="https://hoangphatcompany.vn/products/detail/55"> Xi Măng Hà Tiên Đa
                                            Dụng </a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                        <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="https://hoangphatcompany.vn/products/detail/54"> <img src="https://hoangphatcompany.vn/uploads/imageProducts/ZTZE_xay_to_X.png" alt="" style="width: 348px;height: auto;"></a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="https://hoangphatcompany.vn/products/detail/54"> Xi măng Hà Tiên Xây Tô
                                        </a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="https://hoangphatcompany.vn/products/detail/56"> <img src="https://hoangphatcompany.vn/uploads/imageProducts/DILO_tcCv_QFFF_RectangFFF.png" alt="" style="width: 348px;height: auto;"></a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="https://hoangphatcompany.vn/products/detail/56"> Xi Măng Vicem Hạ Long
                                        </a>
                                    </h3>

                                </div>
                            </div>
                        </div>

                        <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="https://hoangphatcompany.vn/products/detail/52"> <img src="https://hoangphatcompany.vn/uploads/imageProducts/8SKy_qIbP_cam pha.jpg" alt="" style="width: 348px;height: auto;"></a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="https://hoangphatcompany.vn/products/detail/52"> Xi Măng Cẩm Phả </a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                        <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="https://hoangphatcompany.vn/products/detail/51"> <img src="https://hoangphatcompany.vn/uploads/imageProducts/qv9G_q0Rr_image.png" alt="" style="width: 348px;height: auto;"></a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="https://hoangphatcompany.vn/products/detail/51"> Xi Măng INSEE </a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Styled Pagination -->
                    <!-- <div class="styled-pagination text-center">
                <ul class="clearfix">
                    <ul class="clearfix">
                        <li class="prev"><a href="https://hoangphatcompany.vn/products?page=1" class=" noclick"><i
                                    class="fa fa-angle-double-left"></i>Trở lại</a></li>
                        <li class=" active"><a href="https://hoangphatcompany.vn/products?page=1">1</a></li>
                        <li class=""><a href="https://hoangphatcompany.vn/products?page=2">2</a></li>
                        <li class="next"><a class="" href="https://hoangphatcompany.vn/products?page=2">Tiếp theo <i
                                    class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                    <style>
                        a.noclick {
                            pointer-events: none;
                        }
                    </style>

                </ul>
            </div> -->
                </div>

            </div>
        </div>
    </section>
</div>