<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-left">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Liên hệ</li>
                    </ol>
                </div>
                <!-- <h4 class="page-title">Cards</h4> -->
            </div>
        </div>
    </div>
    <div class="card-box">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <article id="post-76610">
                        <div class="entry-content">
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1572678169666 vc_row-has-fill">
                                <div class="wpb_column vc_column_container col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="vc_custom_heading style3 vc_custom_1572677872338">
                                                <h2 style="color: #8b0000;text-align: left">HỒ CHÍ MINH</h2>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>Kho xi măng - 78 Hà Huy Giáp, Thạnh Xuân, quận 12, Thành phố Hồ Chí Minh
                                                        <br> <strong>Điện thoại: </strong> <b><a
                                                            href="tel:0979998199">0979.998.199 (Mr. Hùng) </a>&nbsp;–&nbsp;<a
                                                            href="tel:0971399903">0971.399.903 (Ms. Dung)</a></b><br>
                                                        <strong>Email:</strong> cttnhh.tm.dv.vt.vandung@gmail.com
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container col-sm-8">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                <div class="wpb_wrapper"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.5719752984518!2d106.67928425288522!3d10.86569331767888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175283278f2baab%3A0x58185cddc2b6db06!2zNzggSMOgIEh1eSBHacOhcCwgVGjhuqFuaCBM4buZYywgUXXhuq1uIDEyLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmggNzAwMDAwLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1618010017688!5m2!1sen!2s"
                                                        width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.5719752984518!2d106.67928425288522!3d10.86569331767888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175283278f2baab%3A0x58185cddc2b6db06!2zNzggSMOgIEh1eSBHacOhcCwgVGjhuqFuaCBM4buZYywgUXXhuq1uIDEyLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmggNzAwMDAwLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1618010017688!5m2!1sen!2s"
                                                        class="lazyloaded" data-was-processed="true"></iframe><noscript><iframe
                                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.5719752984518!2d106.67928425288522!3d10.86569331767888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175283278f2baab%3A0x58185cddc2b6db06!2zNzggSMOgIEh1eSBHacOhcCwgVGjhuqFuaCBM4buZYywgUXXhuq1uIDEyLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmggNzAwMDAwLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1618010017688!5m2!1sen!2s"
                                                        width="100%" height="350" frameborder="0" style="border:0;"
                                                        allowfullscreen=""></iframe></noscript></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1572678180635 vc_row-has-fill">
                                <div class="wpb_column vc_column_container col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="vc_custom_heading style3 vc_custom_1572677872338">
                                                <h2 style="color: #8b0000;text-align: left">HỒ CHÍ MINH</h2>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p> Kho xi măng - 237/1c tổ 12B, khu phố 4, phường An Phú Đông, quận 12, Thành phố Hồ Chí Minh
                                                        <br> <strong>Điện thoại: </strong> <b><a
                                                            href="tel:0979998199">0979.998.199 (Mr. Hùng) </a>&nbsp;–&nbsp;<a
                                                            href="tel:0971399903">0971.399.903 (Ms. Dung)</a></b><br>
                                                        <strong>Email:</strong> cttnhh.tm.dv.vt.vandung@gmail.com
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container col-sm-8">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                <div class="wpb_wrapper"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d692.675544483346!2d106.68677405503692!3d10.859849052753672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175283748a30709%3A0xd898074cf705cbb8!2zMjM3LCAxYyBBbiBQaMO6IMSQw7RuZyA5LCBBbiBQaMO6IMSQw7RuZywgUXXhuq1uIDEyLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1618010216828!5m2!1sen!2s"
                                                        width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d692.675544483346!2d106.68677405503692!3d10.859849052753672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175283748a30709%3A0xd898074cf705cbb8!2zMjM3LCAxYyBBbiBQaMO6IMSQw7RuZyA5LCBBbiBQaMO6IMSQw7RuZywgUXXhuq1uIDEyLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1618010216828!5m2!1sen!2s"
                                                        class="lazyloaded" data-was-processed="true"></iframe><noscript><iframe
                                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d692.675544483346!2d106.68677405503692!3d10.859849052753672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175283748a30709%3A0xd898074cf705cbb8!2zMjM3LCAxYyBBbiBQaMO6IMSQw7RuZyA5LCBBbiBQaMO6IMSQw7RuZywgUXXhuq1uIDEyLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1618010216828!5m2!1sen!2s"
                                                        width="100%" height="350" frameborder="0" style="border:0;"
                                                        allowfullscreen=""></iframe></noscript></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid vc_row-has-fill">
                                <div class="wpb_column vc_column_container col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="vc_custom_heading style3 vc_custom_1572677872338">
                                                <h2 style="color: #8b0000;text-align: left">HỒ CHÍ MINH</h2>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p> Kho xi măng - 140/36 khu phố 1B, Thạnh Xuân 22, quận 12, Thành phố Hồ Chí Minh
                                                        <br> <strong>Điện thoại: </strong> <b><a
                                                            href="tel:0979998199">0979.998.199 (Mr. Hùng) </a>&nbsp;–&nbsp;<a
                                                            href="tel:0971399903">0971.399.903 (Ms. Dung)</a></b><br>
                                                        <strong>Email:</strong> cttnhh.tm.dv.vt.vandung@gmail.com
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container col-sm-8">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                <div class="wpb_wrapper"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.89095935161464!2d106.67183214313029!3d10.868172816805673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529d2156ae373%3A0xe2c7a408301fae4d!2zMTQwLCAzNiBUaOG6oW5oIFh1w6JuIDIyLCBUaOG6oW5oIFh1w6JuLCBRdeG6rW4gMTIsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1618010443827!5m2!1sen!2s"
                                                        width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.89095935161464!2d106.67183214313029!3d10.868172816805673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529d2156ae373%3A0xe2c7a408301fae4d!2zMTQwLCAzNiBUaOG6oW5oIFh1w6JuIDIyLCBUaOG6oW5oIFh1w6JuLCBRdeG6rW4gMTIsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1618010443827!5m2!1sen!2s"
                                                        class="lazyloaded" data-was-processed="true"></iframe><noscript><iframe
                                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.89095935161464!2d106.67183214313029!3d10.868172816805673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529d2156ae373%3A0xe2c7a408301fae4d!2zMTQwLCAzNiBUaOG6oW5oIFh1w6JuIDIyLCBUaOG6oW5oIFh1w6JuLCBRdeG6rW4gMTIsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1618010443827!5m2!1sen!2s"
                                                        width="100%" height="350" frameborder="0" style="border:0;"
                                                        allowfullscreen=""></iframe></noscript></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="vc_custom_heading style3 vc_custom_1572677872338">
                                                <h2 style="color: #8b0000;text-align: left">Bình Dương</h2>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p> Kho gạch - 38/5 tổ 5 ấp Tân Hiệp, xã Tân Bình – huyện Dĩ An – tỉnh Bình Dương
                                                        <br> <strong>Điện thoại: </strong> <b><a
                                                            href="tel:0988361399">0988.361.399 (Mr. Nam) </a>&nbsp;–&nbsp;<a
                                                            href="tel:0971399903">0971.399.903 (Ms. Dung)</a></b><br>
                                                        <strong>Email:</strong> cttnhh.tm.dv.vt.vandung@gmail.com
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container col-sm-8">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                <div class="wpb_wrapper"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d692.4275749672028!2d106.75607548322503!3d10.966250722787105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174da25cdcf9e73%3A0x3a30a7b15c3d9c78!2zVMOibiBIaeG7h3AsIFTDom4gQsOsbmgsIFR4LiBExKkgQW4sIELDrG5oIETGsMahbmcsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1618010741178!5m2!1sen!2s"
                                                        width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d692.4275749672028!2d106.75607548322503!3d10.966250722787105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174da25cdcf9e73%3A0x3a30a7b15c3d9c78!2zVMOibiBIaeG7h3AsIFTDom4gQsOsbmgsIFR4LiBExKkgQW4sIELDrG5oIETGsMahbmcsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1618010741178!5m2!1sen!2s"
                                                        class="lazyloaded" data-was-processed="true"></iframe><noscript><iframe
                                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d692.4275749672028!2d106.75607548322503!3d10.966250722787105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174da25cdcf9e73%3A0x3a30a7b15c3d9c78!2zVMOibiBIaeG7h3AsIFTDom4gQsOsbmgsIFR4LiBExKkgQW4sIELDrG5oIETGsMahbmcsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1618010741178!5m2!1sen!2s"
                                                        width="100%" height="350" frameborder="0" style="border:0;"
                                                        allowfullscreen=""></iframe></noscript></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>