<!-- Navigation Bar-->
<header id="topnav">
    <header class="site-header">
        <div class="container">
            <div class="row middle-xs top-md">
                <div class="col-md-2 col-xs-10 site-branding">
                    <a title="Công Ty Vận Tải Văn Dung" routerLink="/" rel="home">
                        <img src="/src/app/no-image.jpg" srcset="/src/app/no-image.jpg 2x" alt="Công Ty Vận Tải Văn Dung"></a>
                </div>

                <div class="col-md-10 hidden-xs hidden-sm">
                    <div class="site-top">
                        <div class="header-right">
                            <div class="row middle">
                                <div class="col-lg-11">
                                    <aside id="custom_html-2" class="widget_text widget header-right widget_custom_html">
                                        <div class="textwidget custom-html-widget">
                                            <div class="row extra-info center header07-end">
                                                <div class="col-md-4 col-lg-4 header07-col-5"> <i class="mdi mdi-phone"></i>
                                                    <h3>0979.998.199 - 0988.361.399</h3> <span>cttnhh.tm.dv.vt.vandung@gmail.com</span>
                                                </div>
                                                <div class="col-md-4 col-lg-4 header07-col-5"> <i class="mdi mdi-google-maps"></i>
                                                    <h3>38/5 tổ 5 ấp tân hiệp, xã Tân Bình,</h3> <span> huyện Dĩ An, tỉnh Bình Dương</span>
                                                </div>
                                                <div class="col-md-4 col-lg-4 header07-hide"> <i class="mdi mdi-clock"></i>
                                                    <h3>Thứ 2 - CN: 8AM-5PM</h3> <span>Thời Gian Mở Cửa</span>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end topbar-main -->

    <div class="navbar-custom">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu active">
                        <a routerLink="/">TRANG CHỦ</a>
                    </li>

                    <li class="has-submenu">
                        <a routerLink="/products">SẢN PHẨM</a>
                    </li>

                    <li class="has-submenu">
                        <a routerLink="/price-list">BẢNG GIÁ</a>
                    </li>

                    <li class="has-submenu">
                        <a routerLink="/distribution-market">THỊ TRƯỜNG PHÂN PHỐI</a>
                    </li>

                    <li class="has-submenu">
                        <a routerLink="/shipping-policy">CHÍNH SÁCH GIAO HÀNG</a>
                    </li>

                    <li class="has-submenu">
                        <a routerLink="/news">TIN TỨC</a>
                    </li>

                    <li class="has-submenu">
                        <a routerLink="/contact">LIÊN HỆ</a>
                    </li>

                </ul>
                <!-- End navigation menu -->
            </div>
            <!-- end #navigation -->
        </div>
        <!-- end container -->
    </div>
    <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->

<div id="content" class="site-content" style="    padding-top: 151px;">

    <router-outlet>

    </router-outlet>

</div>


<!-- Footer -->
<div id="stop">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <aside id="text-4" class="widget widget_text">
                        <h3 class="widget-title"><span>Công ty TNHH Văn Dung</span></h3>
                        <div class="textwidget">
                            <div class="office">
                                <p><i class="fa fa-map-marker mr-2"></i> Trụ Sở Chính: 38/5 tổ 5 ấp Tân Hiệp – xã Tân Bình – huyện Dĩ An – tỉnh Bình Dương</p>
                                <!-- <p><i class="fa fa-map-marker mr-2"></i> Kho Bãi Xi Măng: 38/5 tổ 5 ấp Tân Hiệp – xã Tân Bình – huyện Dĩ An – tỉnh Bình Dương</p> -->
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-md-4 offset-md-4">
                    <aside id="text-4" class="widget widget_text">
                        <h3 class="widget-title"><span>Sản phẩm</span></h3>
                        <div class="textwidget">
                            <div class="office">
                                <p><i class="fa fa-eercast mr-2"></i> Xi măng</p>
                                <p><i class="fa fa-eercast mr-2"></i> Gạch</p>
                                <p><i class="fa fa-eercast mr-2"></i> Sắt thép</p>
                                <p><i class="fa fa-eercast mr-2"></i> Cát đá</p>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-md-4">
                    <aside id="custom_html-3" class="widget_text widget widget_custom_html">
                        <h3 class="widget-title"><span>Thông tin liên hệ</span></h3>
                        <div class="textwidget custom-html-widget">
                            <div class="info">
                                <p><i class="fa fa-phone mr-2"></i> <a href="tel:0988361399">0988.361.399</a> - <a href="tel: 0979998199"> 0979.998.199</a></p>
                                <p><i class="fa fa-envelope mr-2"></i> <a href="mailto:cttnhh.tm.dv.vt.vandung@gmail.com">cttnhh.tm.dv.vt.vandung@gmail.com</a>
                                </p>
                            </div>
                            <div><img src="https://vanchuyenachau.com.vn/wp-content/uploads/2019/10/a-chau-da-thong-bao-bo-cong-thuong.png" alt="Đã thông báo bộ công thương" style="width: 200px; padding-top:30px;"></div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="copyright">
    <div class="container">
        <div class="row middle">
            <div class="col-md-4 left" style="line-height: 1.5rem;"> © Copyrights 2021 <br /> Công ty TNHH Thương Mại Dịch Vụ Vận Tải Văn Dung</div>
            <div class="col-md-8 end-md end-lg">
                <div class="right"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->