<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-left">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/products', 0]">Sản phẩm</a></li>
                        <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
                    </ol>
                </div>
                <!-- <h4 class="page-title">Cards</h4> -->
            </div>
        </div>
    </div>
    <div class="card-box">
        <section class="services-section-two">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <aside class="sidebar shop-sidebar">
                            <div class="sidebar-widget categories">
                                <div class="sidebar-title">
                                    <h2>Danh Mục</h2>
                                </div>
                                <ul class="category-list">
                                    <li>
                                        <a class="category-list-item active" [attr.data-groupid]="0">
                                        Tất cả
                                    </a>
                                    </li>
                                    <li *ngFor="let product of productGroups">
                                        <a class="category-list-item" [routerLink]="['/products', product.id]" [attr.data-groupid]="product.id">
                                        {{product.name}}
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>

                    <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="info-title">
                                    <h2>Chi tiết sản phẩm</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 details-product">
                                        <carousel [cellWidth]="'100%'" [height]="400" [autoplay]="true" [dots]="true" [loop]="true">
                                            <div class="carousel-cell">
                                                <img style="object-fit: cover;" [src]="product.images[0]">
                                            </div>
                                            <div class="carousel-cell">
                                                <img style="object-fit: cover;" [src]="product.images[1]">
                                            </div>
                                            <div class="carousel-cell">
                                                <img style="object-fit: cover;" [src]="product.images[2]">
                                            </div>
                                            <div class="carousel-cell">
                                                <img style="object-fit: cover;" [src]="product.images[3]">
                                            </div>
                                        </carousel>
                                    </div>

                                    <div class="product-shop col-xs-12 col-sm-12 col-lg-8 details-product ">
                                        <h1 class="product-name text-bold" itemprop="name">{{product.name}}</h1>

                                        <div class="price-box mb-1">
                                            <div class="special-price">
                                                <span>Giá sản phẩm:</span>
                                                <span class="price product-price ml-2" style="display: revert;">{{product.sellPrice}}đ -
                                                {{product.sellPriceMax}}đ</span>
                                            </div>
                                        </div>
                                        <span>Mô tả:</span>
                                        <ul class="info-model-pro ml-4">
                                            <li><span [innerHtml]="product.abstract"></span></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <h1 class="product-name product-desc text-left" itemprop="name">Thông tin chi tiết</h1>

                            <div class="col-xs-12 col-lg-12 mt-3 ml-4 mr-4">
                                <div class="product-description product_description rte" [innerHTML]="product.content">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row mb-5" style="width: 90%; margin:auto;">
    <carousel [objectFit]="'cover'" [arrowsOutside]="true" [height]="150" [margin]="30  " [autoplay]="true" [borderRadius]="40" [dots]="true" [cellsToShow]="6" [loop]="true">
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo1.png">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo2.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo3.png">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo4.png">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo5.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo6.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo7.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo8.jpg">
        </div>
        <div class="carousel-cell">
            <img style="object-fit: cover;" src="/assets/images/brand/logo9.jpg">
        </div>


    </carousel>
</div>