.container {
    padding-top: 20px;
    padding-bottom: 30px;
}

.owl-carousel.owl-loaded {
    display: block;
}

.details-product .product-images {
    margin-bottom: 20px;
}

[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a {
    color: #0275d8;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.details-product .product-images .owl-nav .owl-prev,
.slideshow .owl-nav .owl-prev {
    left: 0px;
}

.details-product .product-images .owl-nav div,
.slideshow .owl-nav div {
    bottom: 50%;
    background-color: transparent !important;
    color: #222872;
    position: absolute;
    font-size: 20px;
}

.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-chevron-left:before {
    content: "\f053";
}

.details-product .product-images .owl-nav .owl-next,
.slideshow .owl-nav .owl-next {
    right: 0px;
}

.details-product .product-images .owl-nav div,
.slideshow .owl-nav div {
    bottom: 50%;
    background-color: transparent !important;
    color: #222872;
    position: absolute;
    font-size: 20px;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.fa-chevron-right:before {
    content: "\f054";
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-carousel.owl-loaded {
    display: block;
}

.details-product .thumbnail-product {
    margin-bottom: 30px;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.details-product .thumbnail-product img {
    border: 1px #FFF solid;
}

.details-product .thumbnail-product img:hover {
    border: 1px #222872 solid;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.details-product .product-name {
    font-size: 24px;
    color: #464646;
    line-height: 34px;
    margin: 0px 0px 10px 0px;
}

h1 {
    font-size: 2.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.info-model-pro {
    float: left;
    color: #333333;
    font-size: 14px;
    padding: 0px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 30px;
}

.info-model-pro li {
    list-style-type: none;
    float: left;
    padding-right: 10px;
    margin-right: 10px;
}

b,
strong {
    font-weight: 700;
}

.details-product .product-price,
.details-product .product-price-old {
    font-size: 26px;
    font-weight: bold;
    line-height: 24px;
    margin-right: 10px;
    color: #8b0000;
}

.product-box .product-price,
.product-price {
    color: #222872;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    font-weight: bold;
}

.details-product .product-description {
    color: #464646;
    font-size: 14px;
    line-height: 28px;
    padding: 0px 0px 20px 0px;
    margin-bottom: 20px;
    margin-top: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.services-section-two {
    position: relative;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.btn-group-vertical>.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
    clear: both;
}

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    display: table;
    content: " ";
}

.sidebar-page-container .sidebar-side,
.sidebar-page-container .content-side {
    position: relative;
    margin-bottom: 50px;
}

.sidebar-title {
    padding-bottom: 15px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.sidebar-side .sidebar-widget:last-child {
    margin-bottom: 0;
}

.sidebar-widget {
    position: relative;
    margin-bottom: 65px;
}

.sidebar-page-container .sidebar-title {
    position: relative;
    margin-bottom: 50px;
}

.shop-sidebar .sidebar-title h2 {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 1.2em;
    color: #222222;
    font-weight: 600;
    padding-bottom: 22px;
}

.sidebar-page-container .sidebar-title h2 {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 1.2em;
    color: #222222;
    font-weight: 600;
    padding-bottom: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: 700;
    margin: 0px;
    background: none;
    line-height: 1.6em;
    font-family: 'Roboto', sans-serif;
}

column:before,
.fun-fact-section .title-column .inner-column:after,
.call-back-section .content-column h3:before,
.social-icon-two li a:hover,
.call-back-section .form-column .inner-column,
.main-footer .gallery-widget .image a:before,
.scroll-to-top,
.service-sidebar .link-box a:hover,
.shop-item .overlay-box .icon-box a:hover,
.main-header .main-menu:after,
.main-header .nav-outer,
.main-menu .navigation>li>ul>li>ul>li>a:hover,
.main-menu .navigation>li>ul>li:hover>a,
.btn-style-five,
.cat-list li:before,
.cart-table .cart-header,
.btn-style-six:hover,
.btn-style-four:hover,
.btn-style-two {
    background-color: #8b0000;
}

.shop-sidebar .sidebar-title h2:before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 60px;
    background-color: #8b0000;
    content: "";
}

.category-list {
    position: relative;
    display: block;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.category-list li {
    position: relative;
}

.category-list li:first-child a {
    padding-top: 0;
}

.category-list li a {
    position: relative;
    display: block;
    font-size: 14px;
    color: #222222;
    font-weight: 600;
    line-height: 28px;
    padding: 15px 0;
    padding-left: 20px;
    border-bottom: 1px solid #eeeeee;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.category-list li a:hover {
    color: #8b0000;
    text-transform: uppercase;
    font-size: 20px;
}

.category-list li a.active {
    color: #ff9f14;
}

.category-list li a.active:hover {
    color: #8b0000;
    text-transform: uppercase;
    font-size: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #ff9f14;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.sidebar-page-container .sidebar-side,
.sidebar-page-container .content-side {
    position: relative;
    margin-bottom: 50px;
}

.shop-upper-box {
    position: relative;
    margin-bottom: 50px;
}

.clearfix:before {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
    display: table;
    content: " ";
}

.shop-upper-box .items-label {
    position: relative;
    font-size: 16px;
    line-height: 30px;
    color: #aaaaaa;
    padding: 10px 0;
}

.pull-left {
    float: left;
}

.pull-left {
    float: left!important;
}

.shop-item {
    position: relative;
    margin-bottom: 65px;
}

.shop-item .inner-box {
    position: relative;
}

.shop-item .image {
    position: relative;
}

.shop-item .image img {
    display: block;
    width: 100%;
    min-height: 355px;
    height: 360px !important
}

img {
    display: inline-block;
    max-width: 100%;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.shop-item .lower-content {
    position: relative;
    padding: 35px 0px 0;
    text-align: center;
}

.shop-item .lower-content h3 {
    position: relative;
    font-size: 20px;
    color: #222222;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
}

.shop-item .lower-content h3 a {
    color: #222222;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.product-desc {
    padding-top: 15px;
    border-top: 1px solid #ccc;
    width: 100%;
    font-size: 24px;
    font-weight: bold !important;
}