<div class="container">
    <section class="services-section-two">
        <div class="auto-container">

            <div class="row clearfix">
                <!-- Service Block -->
                <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box" style="height: 340px;">
                        <div class="icon-box"><img height="80" src="https://hoangphatcompany.vn/uploads/imageChannels/GUWJ_logo.png"></div>
                        <h3 class="text-left">Quận 12</h3>
                        <div class="text text-left"><span class="fa fa-volume-control-phone"></span> 028 66798844</div>
                        <div class="text text-left"><span class="fa fa-fax"></span> </div>
                        <div class="text text-left"><span class="fa fa-envelope"></span> ctyhoangphat78@gmail.com</div>
                        <div class="text text-left"><span class="fa fa-map-marker"></span> Thành phố Hồ Chí Minh</div>
                    </div>
                </div>
                <!-- Service Block -->
                <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box" style="height: 340px;">
                        <div class="icon-box"><img height="80" src="https://hoangphatcompany.vn/uploads/imageChannels/Wvzi_logo.png"></div>
                        <h3 class="text-left">Bình Chánh, Bình Tân</h3>
                        <div class="text text-left"><span class="fa fa-volume-control-phone"></span> 0376621296</div>
                        <div class="text text-left"><span class="fa fa-fax"></span> </div>
                        <div class="text text-left"><span class="fa fa-envelope"></span> ctyhoangphat78@gmail.com</div>
                        <div class="text text-left"><span class="fa fa-map-marker"></span> Trần Văn Giàu</div>
                    </div>
                </div>
                <!-- Service Block -->
                <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box" style="height: 340px;">
                        <div class="icon-box"><img height="80" src="https://hoangphatcompany.vn/uploads/imageChannels/wxg5_logo.png"></div>
                        <h3 class="text-left">Hóc Môn</h3>
                        <div class="text text-left"><span class="fa fa-volume-control-phone"></span> 0928028453</div>
                        <div class="text text-left"><span class="fa fa-fax"></span> </div>
                        <div class="text text-left"><span class="fa fa-envelope"></span> ctyhoangphat78@gmail.com</div>
                        <div class="text text-left"><span class="fa fa-map-marker"></span> Nguyễn Thị Thử - Trương Thị Như</div>
                    </div>
                </div>
                <!-- Service Block -->
                <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box" style="height: 340px;">
                        <div class="icon-box"><img height="80" src="https://hoangphatcompany.vn/uploads/imageChannels/0fjM_logo.png"></div>
                        <h3 class="text-left">Thủ Đức</h3>
                        <div class="text text-left"><span class="fa fa-volume-control-phone"></span> 0938179695</div>
                        <div class="text text-left"><span class="fa fa-fax"></span> </div>
                        <div class="text text-left"><span class="fa fa-envelope"></span> ctyhoangphat78@gmail.com</div>
                        <div class="text text-left"><span class="fa fa-map-marker"></span> Lý Tế Xuyên</div>
                    </div>
                </div>
                <!-- Service Block -->
                <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box" style="height: 340px;">
                        <div class="icon-box"><img height="80" src="https://hoangphatcompany.vn/uploads/imageChannels/tjbY_logo.png"></div>
                        <h3 class="text-left">Cần Giờ</h3>
                        <div class="text text-left"><span class="fa fa-volume-control-phone"></span> 0975602674</div>
                        <div class="text text-left"><span class="fa fa-fax"></span> </div>
                        <div class="text text-left"><span class="fa fa-envelope"></span> ctyhoangphat78@gmail.com</div>
                        <div class="text text-left"><span class="fa fa-map-marker"></span> Trần Quang Quờn</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>