<div class="container">
    <section class="services-section-two">
        <div class="auto-container">

            <div class="row clearfix">
                <div *ngFor="let prod of products" class="service-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <a> <img [src]="prod.images[0]" style="width: 348px;height: 450px" alt=""></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <div class="icon-box"><a><span class="icon fa fa-angle-right"></span></a></div>
                            <h3><a> {{prod.name}} </a></h3>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>